---
layout: default
title: About
meta_description:
permalink: /about/
meta_tags:
  robots:
---

<section class="page-banner">
  <div id="pageBanner" class="carousel slide" data-ride="carousel">
  {% assign banners = site.data._models.page-banners | where: 'page_name', 'Hotel' %}
    {% for banner in banners | limit: 1 %}
      <ol class="carousel-indicators">
        {% for bannerimage in banner.image %}
          <li data-target="#pageBanner" data-slide-to="{{ forloop.index0 }}"  {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for bannerimage in banner.image %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ bannerimage.url_medium }}" alt="{{ bannerimage.alt }}">
          </div>
        {% endfor %}
      </div>
      <h1>{{ banner.banner_title }}</h1>
    {% endfor %}
  </div>
</section>

<section class="hotel-intro">
  <div class="hotel-intro__inner">
    <div class="hotel-intro__text">
      {% regionblock intro_heading, type:header %}
      <h2>MEET CELINO</h2>
      {% endregionblock %}
      {% regionblock intro_content, type:text %}
      <p>The Celino Hotel pays homage to Ocean Drive circa 1940s, transporting guests to a new take on a bygone era of glitz and glamour. Its personality is rich in fashion and fused with Latin charisma and tropical class, offering a new lifestyle of indulgence to South Beach.</p>
      <p>The Celino Hotel embodies the charm of a fashion Maison, its name will be a symbol of a new signature style – Floridita, Miami Beach glamour paired with undertones of simple, classic Floridian accents. This unique style will bring back memories of awe-inspiring guests in sequined birds of paradise dresses, neck ties, sheer blouses and vintage prints all with a 2017 slant. Always full of excitement balanced with unspoken elegance and cultural influences,
      The Celino Hotel will lead an Ocean Drive revival. </p>
      {% endregionblock %}
      {% regionblock intro_btn, type:text %}
      <a href="/rooms/" class="button button--arrow button--arrow--gold">view our rooms</a>
      {% endregionblock %}
    </div>
    <div class="hotel-intro__images">
      <figure>
        {% regionblock intro_photo, type:image %}
        <img src="/assets/images/hotel/intro-1.jpg" alt="The Luxury Celino Hotel">
        {% endregionblock %}
      </figure>
    </div>
  </div>
</section>

{% include guest-services.html %}

{% assign luxury-amenities = site.data._models.luxury-amenities %}
<section class="luxuxy-amenities">
  {% regionblock luxury_amenities, type:header %}
  <h4>LUXURY AMENITIES AT CELINO SOUTH BEACH</h4>
  {% endregionblock %}
  {% for la in luxury-amenities %}
  <div class="luxuxy-amenities__block">
    <div class="luxuxy-amenities__block__content p-0">
      <div class="luxuxy-amenities__block__content__holder">
        <h2>{{ la.title }}</h2>
        <p>{{ la.description }}</p>
      </div>
    </div>
    <div class="luxuxy-amenities__block__image p-0">
      <img src="{{ la.image.url_medium }}" alt="{{ la.image.alt }}">
    </div>
  </div>
  {% endfor %}
</section>

<section class="virtual-tour d-flex align-items-center">
  <img src="/assets/images/hotel/virtual-tour.jpg" alt="Take a virtual tour">
  <div class="virtual-tour__content">
    {% regionblock virtual_tour_heading, type:header %}
    <h3>Take a virtual tour</h3>
    {% endregionblock %}
    {% regionblock virtual_tour_btn, type:text %}
    <a href="/gallery/" class="button button--arrow button--arrow--gold">VIEW GALLERY</a>
    {% endregionblock %}
  </div>
</section>

<section class="hotel-location">
  <div class="hotel-location__block">
    <div class="hotel-location__content p-0">
      <div class="hotel-location__content__holder">
        {% regionblock location_heading, type:header %}
        <h3>LOCATION</h3>
        {% endregionblock %}
        {% regionblock location_text, type:text %}
        <p>Located beachfront in the heart of South Beach on the southern end of iconic Ocean Drive next to the SoFi neighborhood, steps from the Atlantic Ocean and with direct access to downtown Miami and the Port of Miami via MacArthur Causeway. The Celino is less than seven miles from Miami’s top urban destinations including Wynwood, Brickell, Midtown and just blocks from South Pointe Park, Lincoln Road and Española Way. </p>
        {% endregionblock %}
      </div>
    </div>
    <div class="hotel-location__map p-0" id="map">
    </div>
  </div>
</section>
