---
layout: default
title: Contact Details | Celino Hotel South Beach Miami
meta_description: Get in touch with the Celino Hotel in Miami Beach, Florida at 640 Ocean Drive, Miami Beach, FL 33139, call 786 574 4090 or email info@celinohotel.com.
permalink: /contact/
meta_tags:
  robots:
---

<section class="page-banner">
  <div id="pageBanner" class="carousel slide" data-ride="carousel">
  {% assign banners = site.data._models.page-banners | where: 'page_name', 'Contact' %}
    {% for banner in banners | limit: 1 %}
      <ol class="carousel-indicators">
        {% for bannerimage in banner.image %}
          <li data-target="#pageBanner" data-slide-to="{{ forloop.index0 }}"  {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for bannerimage in banner.image %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}" role="option">
            <img src="{{ bannerimage.url_large }}" alt="{{ bannerimage.alt }}">
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="contact-intro">
  <div class="contact-intro__inner">
    <div class="contact-intro__text wow fadeIn" data-wow-delay=".5s">
      {% regionblock intro_heading, type:header %}
        <h2 tabindex="0">EXPLORE MIAMI, STAY WITH US</h2>
      {% endregionblock %}
      <div tabindex="0">
        {% regionblock intro_text, type:text %}
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu is nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste </p>
        {% endregionblock %}
      </div>
    </div>
    <div class="contact-intro__images">
      <div class="contact-intro__images__holder wow fadeIn" data-wow-delay=".3s">
        <img src="/assets/images/contact/intro-1.jpg" alt="Intro">
        {% regionblock intro_img, type:image %}
        <img src="/assets/images/contact/intro-2.jpg" alt="Intro">
        {% endregionblock %}
      </div>
    </div>
  </div>
</section>

<div class="full-map" id="map" tabindex="-1">
</div>
<section class="contact-details">
  <div class="contact-details__inner">
    <div class="contact-details__content">
      {% regionblock hotel_name, type:header %}
        <h4 tabindex="0">CELINO HOTEL</h4>
      {% endregionblock %}
      {% regionblock hotel_address, type:text %}
        <p tabindex="0">640 Ocean Drive, Miami Beach,<br> Florida 33139.</p>
      {% endregionblock %}
      {% regionblock hotel_number, type:text %}
        <p>P: <a href="tel:786.574.4090">786.574.4090</a></p>
      {% endregionblock %}
      {% regionblock hotel_email, type:text %}
        <p tabindex="0">For any questions or concerns<br> please send an email to<br>
        <a href="mailto:info@celinohotel.com">info@celinohotel.com</a>
      </p>
      {% endregionblock %}
    </div>
    <div class="contact-details__form-block">
      {% include forms/jotform/contact.html %}
    </div>
  </div>
</section>
