---
layout: default
title: Explore | Celino Hotel South Beach
meta_description:
permalink: /explore/
meta_tags:
  robots:
---

<section class="page-banner">
  <div id="pageBanner" class="carousel slide" data-ride="carousel">
  {% assign banners = site.data._models.page-banners | where: 'page_name', 'Explore' %}
    {% for banner in banners | limit: 1 %}
      <ol class="carousel-indicators">
        {% for bannerimage in banner.image %}
          <li data-target="#pageBanner" data-slide-to="{{ forloop.index0 }}"  {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for bannerimage in banner.image %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ bannerimage.url_large }}" alt="{{ bannerimage.alt }}">
          </div>
        {% endfor %}
      </div>
      <h1>{{ banner.banner_title }}</h1>
    {% endfor %}
  </div>
</section>

<section class="luxury-intro">
  <div class="luxury-intro__wrap">
    <div class="luxury-intro__photo">
      <figure>
        {% regionblock luxury_photo, type:image %}
        <img src="/assets/images/explore/couple-south-beach.jpg" alt="South Beaches in Miami for Couples">
        {% endregionblock %}
      </figure>
    </div>
    <div class="luxury-intro__detail">
      <article>
        {% regionblock luxury_detail, type:text %}
        <h2>LOREM IPSUM</h2>
        <hr>
        <p>The Celino brings a new lifestyle of indulgence to South Beach, a personality rich in fashion fused with Latin charisma and tropical class, a vibrant reinterpretation of a party that happened on New Year’s Eve 1940. By bridging the historic Park Central Hotel with a fully modern, loft-style, ocean front oasis, a new standard of luxury will be set on Ocean Drive. The Celino will encompass the ambiance of timeless allure and transform itself into a memorable destination for entertainment and noteworthy moments. Get your dancing shoes ready!</p>

        <a href="#" class="button button--arrow button--arrow--gold">Amenities</a>
        {% endregionblock %}
      </article>
    </div>
  </div>
</section>

{% include attractions.html %}

<section class="enjoy">
  <div class="enjoy__wrap">
    <div class="enjoy__title">
      {% regionblock dine_title, type: header %}
      Enjoy
      {% endregionblock %}
    </div>
    <div class="enjoy__categories"></div>
  </div>
  <div class="enjoy__wrap">
    <div class="enjoy__image">
      {% regionblock dining_photo, type:image %}
      <img src="/assets/images/home/dine-photo.jpg" alt="Salte">
      {% endregionblock %}
    </div>
    <div class="enjoy__detail">
      <article>
        <h5>Salte</h5>
        <hr>
        <p>Salte offers Italian inspired cuisine in a stylishly elegant setting. Using the freshest and finest ingredients, Salte offers a distinctive take on Italian cuisine using contemporary techniques and features such as, house-made ricotta, wood-fired pizzas, and made-from-scratch pastas. At Salte, our approach is simple; source the best ingredients possible and prepare them in an uncomplicated and modern way.</p>
        <a href="#" class="button button--arrow">Learn More</a>
      </article>
    </div>
  </div>
  <div class="enjoy__wrap enjoy__wrap--even">
    <div class="enjoy__image">
      <img src="/assets/images/home/dine-photo.jpg" alt="Salte">
    </div>
    <div class="enjoy__detail">
      <article>
        <h5>Salte</h5>
        <hr>
        <p>Salte offers Italian inspired cuisine in a stylishly elegant setting. Using the freshest and finest ingredients, Salte offers a distinctive take on Italian cuisine using contemporary techniques and features such as, house-made ricotta, wood-fired pizzas, and made-from-scratch pastas. At Salte, our approach is simple; source the best ingredients possible and prepare them in an uncomplicated and modern way.</p>
        <a href="#" class="button button--arrow">Reserve Now</a>
      </article>
    </div>
  </div>
  <div class="enjoy__wrap">
    <div class="enjoy__image">
      <img src="/assets/images/home/dine-photo.jpg" alt="Salte">
    </div>
    <div class="enjoy__detail">
      <article>
        <h5>Salte</h5>
        <hr>
        <p>Salte offers Italian inspired cuisine in a stylishly elegant setting. Using the freshest and finest ingredients, Salte offers a distinctive take on Italian cuisine using contemporary techniques and features such as, house-made ricotta, wood-fired pizzas, and made-from-scratch pastas. At Salte, our approach is simple; source the best ingredients possible and prepare them in an uncomplicated and modern way.</p>
        <a href="#" class="button button--arrow">Reserve Now</a>
      </article>
    </div>
  </div>
  <div class="enjoy__wrap enjoy__wrap--even">
    <div class="enjoy__image">
      <img src="/assets/images/home/dine-photo.jpg" alt="Salte">
    </div>
    <div class="enjoy__detail">
      <article>
        <h5>Salte</h5>
        <hr>
        <p>Salte offers Italian inspired cuisine in a stylishly elegant setting. Using the freshest and finest ingredients, Salte offers a distinctive take on Italian cuisine using contemporary techniques and features such as, house-made ricotta, wood-fired pizzas, and made-from-scratch pastas. At Salte, our approach is simple; source the best ingredients possible and prepare them in an uncomplicated and modern way.</p>
        <a href="#" class="button button--arrow">Reserve Now</a>
      </article>
    </div>
  </div>
</section>

{% include instagram.html %}
