---
layout: default
title: Gallery
meta_description: Gallery
permalink: /gallery/
meta_tags:
  robots:
---

<section class="page-banner">
  <div id="pageBanner" class="carousel slide" data-ride="carousel">
  {% assign banners = site.data._models.page-banners | where: 'page_name', 'Gallery' %}
    {% for banner in banners | limit: 1 %}
      <ol class="carousel-indicators">
        {% for bannerimage in banner.image %}
          <li data-target="#pageBanner" data-slide-to="{{ forloop.index0 }}"  {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for bannerimage in banner.image %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ bannerimage.url_medium }}" alt="{{ bannerimage.alt }}">
          </div>
        {% endfor %}
      </div>
      <h1>{{ banner.banner_title }}</h1>
    {% endfor %}
  </div>
</section>

<section class="filter-nav bg-cover" style="background-image:url('/assets/images/rooms/filter-floral-bg.jpg');">
  {% assign categories = site.data._galleries | sort: sort_order %}
    <ul>
      <li><a href="javascript:void(0);" class="filter active" data-filter="all">All</a></li>
      {% for category in categories %}
       {% assign catname = category[0] %}
        <li><a href="javascript:void(0);" class="filter" data-filter="{{ catname }}">{{ site.data._galleries[catname].name }}</a></li>
      {% endfor %}
    </ul>
</section>

<section class="gallery-carousel">
  <div id="galleryBanner" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/gallery/gallery1.jpg" alt="Gallery">
        <div class="caption">FLORIDITA SWIMMING POOL AREA</div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/gallery/gallery1.jpg" alt="Gallery">
        <div class="caption">FLORIDITA SWIMMING POOL AREA</div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/gallery/gallery1.jpg" alt="Gallery">
        <div class="caption">FLORIDITA SWIMMING POOL AREA</div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/gallery/gallery1.jpg" alt="Gallery">
        <div class="caption">FLORIDITA SWIMMING POOL AREA</div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#galleryBanner" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#galleryBanner" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<section class="gallery">
  {% assign categories = site.data._galleries %}
    <div class="gallery__row" id="lightgallery">
      {% for category in categories %}
      {% assign catname = category[0] %}
        {% for photo in site.data._galleries[catname].photos %}
          <div class="gallery__item item fancybox" data-filter="{{ catname }}" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}" data-exthumbimage="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" >
            <img src="{{ photo.url_small }}" alt="{{ photo.alt }}">
          </div>
        {% endfor %}
      {% endfor %}
     </div>
</section>
