---
layout: default
title: Rooms
meta_description:
permalink: /rooms/
meta_tags:
  robots:
---

<section class="page-banner mb-55">
  <div id="pageBanner" class="carousel slide" data-ride="carousel">
  {% assign banners = site.data._models.page-banners | where: 'page_name', 'Stay' %}
    {% for banner in banners | limit: 1 %}
      <ol class="carousel-indicators">
        {% for bannerimage in banner.image %}
          <li data-target="#pageBanner" data-slide-to="{{ forloop.index0 }}"  {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for bannerimage in banner.image %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ bannerimage.url_medium }}" alt="{{ bannerimage.alt }}">
          </div>
        {% endfor %}
      </div>
      <h1>{{ banner.banner_title }}</h1>
    {% endfor %}
  </div>
</section>

<section class="inner-page-intro">
  <div class="inner-page-intro__wrap align-items-center">
    <div class="inner-page-intro__image">
      {% regionblock intro-image-bg, type:image %}
        <img src="/assets/images/rooms/floral-bg.jpg" class="inner-page-intro__image__floral-bg" alt="Floral Background">
      {% endregionblock %}
      {% regionblock intro-image, type:image %}
        <img src="/assets/images/rooms/man-sitting.png" alt="Man Sitting" class="inner-page-intro__image__inner-image">
      {% endregionblock %}
    </div>
    <div class="inner-page-intro__text">
      {% regionblock intro_title, type:header %}
        <h2>Lorem Ipsum</h2>
      {% endregionblock %}
      {% regionblock intro_text, type:text %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis, leo sed tempus viverra, diam nibh maximus nisi, ut viverra nunc nunc ut sapien. Ut finibus sapien quam, sit amet pellentesque elit consectetur sit amet. Suspendisse semper mattis tristique. Donec semper purus quis felis bibendum varius.</p>
      {% endregionblock %}
      {% regionblock intro_cta, type:text %}
        <a href="#" class="button button--arrow button--arrow--gold">Amenities</a>
      {% endregionblock %}
    </div>
  </div>
</section>

<section class="rooms-listing">
  <div class="rooms-listing__filter-wrap">
    <div class="rooms-listing__main-filter">
      <div class="rooms-listing__main-filter__filter-label">
        Select Building
      </div>
      <ul class="nav nav-tabs rooms-listing__main-filter__filter-items">
        <li class="nav-item active">
          <a class="nav-link active" data-toggle="tab" href="#park-central">PARK CENTRAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#imperial">Imperial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#heathcote">Heathcote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#floridita">Floridita</a>
        </li>
      </ul>
      <img class="drop-down-arrow" src="/assets/images/down-arrow.png" alt="Down">
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="park-central">
      <div class="rooms-listing__subfilter-wrap">
        <div class="rooms-listing__subfilter-bg">
          <ul class="nav nav-tabs rooms-listing__subfilter-bg__subfilter">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#park-central-king">King</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#park-central-queen">Queen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#park-central-suites">Suites</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="rooms-listing__list-items active" id="park-central-king">
        <div class="rooms-listing__single-room">
          <div class="rooms-listing__single-room__image">
            <img src="/assets/images/rooms/room-1.jpg" alt="Room 1">
          </div>
          <div class="rooms-listing__single-room__room-text">
            <h2>classic king Room</h2>
            <p class="rooms-listing__single-room__room-text__prices"> <a href="#" class="rooms-listing__single-room__room-text__tonight_price">Tonight’s Rate </a> <span class="rooms-listing__single-room__room-text__pernight_price"><strong>$350</strong> / night</span></p>
            <p class="rooms-listing__single-room__room-text__description">The Classic King features one King bed and offers tropical elegance in a fresh and inviting, all-natural setting.  Pastel salmon accents provide a sense of Latin flavor and warmth to the interior.  The signature finishes include white washed oak hardwood floors and headboard, a 100% hand tufted New Zealand wool area rug and locally produced graphic artwork. The wash room features contemporary fixtures, a floating pedestal sink and a luxe walk-in shower.</p>
            <p class="rooms-listing__single-room__room-text__btns-holder">
              <a href="#" class="button button--arrow">Book Now</a>
              <a href="/room-details/" class="button button--gold">Explore</a>
            </p>
          </div>
        </div>
        <div class="rooms-listing__single-room">
          <div class="rooms-listing__single-room__image">
            <img src="/assets/images/rooms/room-2.jpg" alt="Room 2">
          </div>
          <div class="rooms-listing__single-room__room-text">
            <h2>Ocean View King Room 1</h2>
            <p class="rooms-listing__single-room__room-text__prices"> <a href="#" class="rooms-listing__single-room__room-text__tonight_price">Tonight’s Rate </a> <span class="rooms-listing__single-room__room-text__pernight_price"><strong>$350</strong> / night</span></p>
            <p class="rooms-listing__single-room__room-text__description">The Partial Ocean View King features one King bed with views of the Atlantic Ocean and offers tropical elegance in a fresh and inviting, all-natural setting.  Pastel salmon accents provide a sense of Latin flavor and warmth to the interior.  The signature finishes include white washed oak hardwood floors and headboard, a 100% hand tufted New Zealand wool area rug and locally produced graphic artwork. The wash room features contemporary fixtures, a floating pedestal sink and a luxe walk-in shower.</p>
            <p class="rooms-listing__single-room__room-text__btns-holder">
              <a href="#" class="button button--arrow">Book Now</a>
              <a href="/room-details/" class="button button--gold">Explore</a>
            </p>
          </div>
        </div>
        <div class="rooms-listing__single-room">
          <div class="rooms-listing__single-room__image">
            <img src="/assets/images/rooms/room-3.jpg" alt="Room 3">
          </div>
          <div class="rooms-listing__single-room__room-text">
            <h2>Ocean View King Room 2</h2>
            <p class="rooms-listing__single-room__room-text__prices"> <a href="#" class="rooms-listing__single-room__room-text__tonight_price">Tonight’s Rate </a> <span class="rooms-listing__single-room__room-text__pernight_price"><strong>$350</strong> / night</span></p>
            <p class="rooms-listing__single-room__room-text__description">The Ocean View King features one King bed, endless views of the Atlantic Ocean and offers tropical elegance in a fresh and inviting, all-natural setting.  Ocean pastel blues accent the room and provide a sense of place and warmth to the interior.  The signature finishes include white washed oak hardwood floors and headboard, a 100% hand tufted New Zealand wool area rug, locally produced graphic artwork and cozy corner chaise lounge. The wash room features contemporary fixtures, a floating pedestal sink and a luxe walk-in shower.</p>
            <p class="rooms-listing__single-room__room-text__btns-holder">
              <a href="#" class="button button--arrow">Book Now</a>
              <a href="/room-details/" class="button button--gold">Explore</a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane" id="imperial">
      <div class="rooms-listing__subfilter-wrap">
        <div class="rooms-listing__subfilter-bg">
          <ul class="nav nav-tabs rooms-listing__subfilter-bg__subfilter">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#imperial-king">King</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#imperial-queen">Queen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#imperial-suites">Suites</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{% include cta-two-column.html %}
