---
layout: default
title: Ocean Drive Lifestyle Hotel | Celino Hotel South Beach
meta_description: Situated on the iconic Ocean Drive, The Celino brings a new lifestyle of indulgence to South Beach, a personality rich in fashion fused with Latin charisma and tropical class.
permalink: '/'
meta_tags:
  robots:
---

<section class="hero-banner" style="background-image: url('/assets/images/home/beach-miami-celino-hotel.jpg');">
  <div class="hero-banner__detail wow fadeIn" data-wow-delay="0.5s">
    {% regionblock page_title, type:header %}
    <h1 tabindex="0">Miami Beach <br>AS YOU IMAGINED IT</h1>
    <a href="/about/" class="button button--arrow">Learn More</a>
    {% endregionblock %}
  </div>
</section>

<section class="luxury-intro wow fadeIn" data-wow-delay="1.5s">
  <div class="luxury-intro__wrap">
    <div class="luxury-intro__photo">
      <figure>
        {% regionblock luxury_photo, type:image %}
        <img src="/assets/images/home/the-luxury-celino-hotel.jpg" alt="The Luxury Celino Hotel">
        {% endregionblock %}
      </figure>
    </div>
    <div class="luxury-intro__detail">
      <article>
        {% regionblock luxury_detail, type:text %}
        <h2 tabindex="0">YOUR SOUTH BEACH HEADQUARTERS</h2>
        <hr>
        <div tabindex="0">
          <p>Gorgeously manicured but not overly fussy. Party, naturally. That’s our new-fashioned oceanfront hideaway tucked into the scene of Ocean Drive. At the iconic Celino South Beach hotel, the eclectic range of 123 art deco inspired modern bedrooms, including floor to ceiling ocean view suites and a new building follow in storied footsteps with deep residential comforts and a few pools to do your thing. Flit away the afternoon on the rooftop sun deck, dip in the glass-bottom pool, dine al fresco, or by the courtyard fire pit. It’s magical at all hours. All you have to do is stay.</p>
        </div>

        <a href="#" class="button button--arrow button--arrow--gold">Amenities</a>
        {% endregionblock %}
      </article>
    </div>
  </div>
</section>

{% include deals-offers.html %}

<section class="home-stay">
  <div class="home-stay__wrap">
    <div class="home-stay__title wow fadeIn" data-wow-delay="0.5s" tabindex="0">
      {% regionblock stay_title, type: header %}
        Stay
      {% endregionblock %}
    </div>
    <div class="home-stay__categories wow fadeIn" data-wow-delay="0.5s">
      <nav>
        <div class="nav nav-tabs nav-fill" id="rooms-tab" role="tablist">
          <a id="nav-king-tab" href="#nav-king" class="nav-item nav-link active" data-toggle="tab" role="tab" aria-controls="nav-king" aria-selected="true">King</a>
          <a id="nav-queen-tab" href="#nav-queen" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-queen" aria-selected="false">Queen</a>
          <a id="nav-suites-tab" href="#nav-suites" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-suites" aria-selected="false">Suites</a>
        </div>
      </nav>
    </div>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="home-stay__rooms tab-pane fade show active" id="nav-king" role="tabpanel" aria-labelledby="nav-king-tab">
      <section ng-repeat="(key, value) in browser.roomsList | groupBy: 'categoryGroup'">
        <div class="home-stay__rooms__wrap wow fadeIn" data-wow-delay=".5s" ng-class-even="'home-stay__rooms__wrap--even'" ng-repeat="room in value" ng-if="room.categoryGroup == 'King' && (room.code == 'CKU' || room.code == 'DKV')" >

          <div class="home-stay__room-image">
            <a ng-href="/room/#[[ room.name | formatNameForLink ]]" tabindex="-1"><img ng-src="[[ room.photos[0].large || '/assets/images/dummy.jpg' ]]" alt="[[ room.name ]]"></a>
          </div>
          <div class="home-stay__room-detail">
            <article>
              <h2><a ng-href="/room/#[[ room.name | formatNameForLink ]]" ng-bind-html="room.name | renderHTMLCorrectly"></a></h2>
              <h4><a ng-href="{{ site.reztripUrl }}[[ room.todayRate == 'CHECK AVAILABILITY' ? '?selected_room='+room.code : 'search?selected_room='+room.code ]]"><span>Tonight’s Rate</span> <strong ng-show="room.todayRate != 'CHECK AVAILABILITY'">[[ portalInfo.default_currency_symbol ]] [[ room.todayRate ]] /  night</strong> <em ng-show="room.todayRate == 'CHECK AVAILABILITY'">[[ room.todayRate ]]</em></a></h4>
              <p tabindex="0">[[ room.description | limitTo: 221 ]][[ room.description.length > 220 ? '...' : '' ]]</p>

              <div class="button-holder">
                <a ng-href="{{ site.reztripUrl }}[[ room.todayRate == 'CHECK AVAILABILITY' ? '?selected_room='+room.code : 'search?selected_room='+room.code ]]" class="button button--arrow">Book Now</a>
                <a ng-href="/room/#[[ room.name | formatNameForLink ]]" class="button button--gold">Explore</a>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>

    <div class="home-stay__rooms tab-pane fade" id="nav-queen" role="tabpanel" aria-labelledby="nav-queen-tab">
      <section ng-repeat="(key, value) in browser.roomsList | groupBy: 'categoryGroup'">
        <div class="home-stay__rooms__wrap wow fadeIn" data-wow-delay=".5s" ng-class-even="'home-stay__rooms__wrap--even'" ng-repeat="room in value" ng-if="room.categoryGroup == 'Queen' && (room.code == 'CQU')">

          <div class="home-stay__room-image">
            <a ng-href="/room/#[[ room.name | formatNameForLink ]]" tabindex="-1"><img ng-src="[[ room.photos[0].large || '/assets/images/dummy.jpg' ]]" alt="[[ room.name ]]"></a>
          </div>
          <div class="home-stay__room-detail">
            <article>
              <h2><a ng-href="/room/#[[ room.name | formatNameForLink ]]" ng-bind-html="room.name | renderHTMLCorrectly"></a></h2>
              <h4><a ng-href="{{ site.reztripUrl }}[[ room.todayRate == 'CHECK AVAILABILITY' ? '?selected_room='+room.code : 'search?selected_room='+room.code ]]"><span>Tonight’s Rate</span> <strong ng-show="room.todayRate != 'CHECK AVAILABILITY'">[[ portalInfo.default_currency_symbol ]] [[ room.todayRate ]] /  night</strong> <em ng-show="room.todayRate == 'CHECK AVAILABILITY'">[[ room.todayRate ]]</em></a></h4>
              <p tabindex="0">[[ room.description | limitTo: 221 ]][[ room.description.length > 220 ? '...' : '' ]]</p>

              <div class="button-holder">
                <a ng-href="{{ site.reztripUrl }}[[ room.todayRate == 'CHECK AVAILABILITY' ? '?selected_room='+room.code : 'search?selected_room='+room.code ]]" class="button button--arrow">Book Now</a>
                <a ng-href="/room/#[[ room.name | formatNameForLink ]]" class="button button--gold">Explore</a>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
    <div class="home-stay__rooms tab-pane fade" id="nav-suites" role="tabpanel" aria-labelledby="nav-suites-tab">
     <section ng-repeat="(key, value) in browser.roomsList | groupBy: 'categoryGroup'">
        <div class="home-stay__rooms__wrap wow fadeIn" data-wow-delay=".5s" ng-class-even="'home-stay__rooms__wrap--even'" ng-repeat="room in value" ng-if="room.categoryGroup =='Suite' && (room.code == 'XKO')">

          <div class="home-stay__room-image">
            <a ng-href="/room/#[[ room.name | formatNameForLink ]]" tabindex="-1"><img ng-src="[[ room.photos[0].large || '/assets/images/dummy.jpg' ]]" alt="[[ room.name ]]"></a>
          </div>
          <div class="home-stay__room-detail">
            <article>
              <h2><a ng-href="/room/#[[ room.name | formatNameForLink ]]" ng-bind-html="room.name | renderHTMLCorrectly"></a></h2>
              <h4><a ng-href="{{ site.reztripUrl }}[[ room.todayRate == 'CHECK AVAILABILITY' ? '?selected_room='+room.code : 'search?selected_room='+room.code ]]"><span>Tonight’s Rate</span> <strong ng-show="room.todayRate != 'CHECK AVAILABILITY'">[[ portalInfo.default_currency_symbol ]] [[ room.todayRate ]] /  night</strong> <em ng-show="room.todayRate == 'CHECK AVAILABILITY'">[[ room.todayRate ]]</em></a></h4>
              <p tabindex="0">[[ room.description | limitTo: 221 ]][[ room.description.length > 220 ? '...' : '' ]]</p>

              <div class="button-holder">
                <a ng-href="{{ site.reztripUrl }}[[ room.todayRate == 'CHECK AVAILABILITY' ? '?selected_room='+room.code : 'search?selected_room='+room.code ]]" class="button button--arrow">Book Now</a>
                <a ng-href="/room/#[[ room.name | formatNameForLink ]]" class="button button--gold">Explore</a>
              </div>
            </article>
          </div>
      </div>
     </section>
    </div>

    </div>
</section>

{% include cta-two-column.html %}

<section class="dine-intro">
  <div class="dine-intro__wrap">
    <div class="dine-intro__title" tabindex="0">
      {% regionblock dine_title, type: header %}
      Dine
      {% endregionblock %}
    </div>
    <div class="dine-intro__categories"></div>
  </div>
  {% assign dinelist = site.data._models.dine-drink | sort: "order" %}
  {% for dine in dinelist %}
   {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <div class="dine-intro__wrap {% if thecycle == 'even' %}dine-intro__wrap--even{% endif %}">
    <div class="dine-intro__image wow fadeIn" data-wow-delay=".5s">
      <img src="{{ dine.dine_image.url_large }}" alt="{{ dine.image.alt}}">
    </div>
    <div class="dine-intro__detail wow fadeIn" data-wow-delay="1s">
      <article>
        <h5 tabindex="0">{{dine.title }}</h5>
        <hr>
        <div tabindex="0">
          {{ dine.short_description }}
        </div>
        <a href="{{dine.reserve_link}}" class="button button--arrow">RESERVE Now</a>
      </article>
    </div>
  </div>
  {% endfor %}
</section>


{% include instagram.html %}
