---
layout: default
title: South Beach Miami Hotel Deals | Celino Hotel Offers
excerpt: Are you looking for hotel deals in South Beach, Miami? Here at Celino Hotel on Ocean Drive we've got a number of special offers, only available when you book here!
bg: bg-rooms
---
<div class="loading" style="display:block">Loading&#8230;</div>
<div class="padd-fixedtop"></div>
<section class="top-margin">
  <div class="container">
    <div class="wrapper-rText inner-pages">
        <div class="banner-top"><img src="/images/slideshow/Final-Aerial-The-Celino.jpg" alt="banner offers" class="img-responsive center-block">
          <h2 class="white"> Offers</h2>
        </div>
    </div>
  </div>
</section>

<section rt3-special-rates="offers" class="offer-listings container">
  <div ng-repeat="offer in offers.special_rates" on-finish-render="hideLoader">
    <!-- if even count -->
    <div class="offer-listing">
      <div class="listing-image">
          <img ng-src="[[ offer.images[0].large || '/images/dummy.jpg' ]]" class="img-responsive">
      </div>
      <div class="listing-content">
        <div>
          <a ng-href="/offer/#[[ offer.rate_plan_name | formatNameForLink ]]" class="offer-title"><h2 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h2></a>

          <p ng-bind-html="offer.short_description | renderHTMLCorrectly">
          </p>
          <p class="offer-button">
            <a ng-href="[[ offer.promo_url ]]" class="btn-border hvr-border-fade">Book Offer</a>
          </p>
        </div>
      </div>
    </div>

    <!-- if odd count
    <div class="container listing odd" ng-if="$odd">
      <div class="col-md-6">
        <div class="content-left2">
          <a ng-href="/offer/#[[ offer.rate_plan_name | formatNameForLink ]]" class="offer-title">
            <h2 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h2>
          </a>
          <p class="right-pd" ng-bind-html="offer.short_description | renderHTMLCorrectly">
          </p>
          <p class="text-left">
            <a ng-href="[[ offer.promo_url ]]" class="btn-border hvr-border-fade">Book Offer</a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="top-right-bg tiles">
          <img ng-src="[[ offer.images[0].large || '/images/dummy.jpg' ]]" class="margin-top padd-20 img-responsive">
        </div>
      </div>
    </div> -->
  </div>
</section>
