---
layout: default
title: Celino Hotel South Beach
bg: bg-rooms
---
<div class="loading" style="display:block">Loading&#8230;</div>

<div class="padd-fixedtop"></div>
<section class="top-margin">
  <div class="container">
    <div class="wrapper-rText inner-pages">
          <div class="banner-top"><img src="/images/rooms/hero-banner.jpg" alt="banner rooms" class="img-responsive center-block">
            <h2 class="white">Rooms & Suites</h2>
          </div>
    </div>
  </div>
</section>
<section class="container">
  <ul class="nav--filter">
    <li>
      <a data-filter="all" class="filter--option active">All</a>
    </li>
    <li ng-repeat="cat in browser.roomCategories">
      <a data-filter="[[ cat ]]" class="filter--option">[[ cat ]]</a>
    </li>
  </ul>
  <!-- <section class="listings filter-item room-listings" ng-repeat="cat in browser.roomCategories" data-filter="[[cat]]"> -->
  <section class="listings room-listings">
    <div ng-repeat="room in browser.roomsList | filter : {category : cat}" on-finish-render="hideLoader" data-filter="[[room.category]]" class="filter-item">
      <div class="listing">
        <div>
          <div>
            <img ng-src="[[ room.photos[0].large ]]" class="img-responsive objectfit">
          </div>
        </div>
        <div>
          <div>
            <h3 ng-bind-html="room.name | renderHTMLCorrectly "></h3>
            <!-- <h3 class="gold_gotham">TONIGHT’S RATE</h3>
            <h5><a ng-href="{{site.reztripUrl}}[[room.todayRate == 'Check Availability' ?  '?selected_room='+room.code : 'search?selected_room='+room.code ]]" class="light_grey"><span ng-show="room.todayRate != 'Check Availability'">[[portalInfo.default_currency_symbol]]</span>[[ room.todayRate ]]</a></h4> -->
            <p class="room-desc">[[room.short_description | limitTo: 150]][[room.short_description.length > 150 ? '...' : '']]</p>
            <p class="text-left">
              <!--a ng-href="https://thecelinohotel.reztrip.com/search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" class="btn-booknow hvr-fade">BOOK NOW</a-->
              <a ng-href="/room/#[[room.name | formatNameForLink]]" class="btn-border hvr-border-fade">Preview [[ room.name | roomOrSuite ]]</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="bg-lightblue">
  <div class="container no-padding">
    <div class="contact-strip-2" style="background-image:url(/images/contact/contact-strip-1.jpg)"></div>
    <div class="container mapsec">
      <div class="col-md-12">
        <div class="wrapper-rText">
          <div class="block-title">
            <h1 class="rotate">THE WAY <br>TO PARADISE</h1>
          </div>
          <div class="rightBx marg-27">
            <div class="row">
              <div class="col-md-12 margin-top">
                {% include location-map.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include newsletter.html %}
