---
layout: default
title: Celino Hotel South Beach
bg: bg-rooms
---

<div class="padd-fixedtop"></div>
<section class="padd-top50 top-margin">
  <div class="container no-padding">
    <div class="col-md-12  no-padding">
      <div class="wrapper-rText inner-pages">
        <div class="block-title">
          <h1 class="rotate top-15">MODERN <br> INDULGENCE</h1>
        </div>
        <div class="rightBx">
          <div class="col-md-12  no-padding">
            <div class="banner-top"><img src="/images/rooms/hero-banner.jpg" alt="banner rooms" class="img-responsive center-block">
              <h2 class="white"> Suites</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section rt3-rooms-browser="browser" rt3-search-form="search" on-search-changed="browser.tonightavailRooms()" ng-cloak class="listings">
  <div ng-if="(browser.roomsv  | filter: {category:'Classic'}).length > 0" class="devider-inner top-40" style="background: url('/images/bg-leaf.jpg'); background-position: top right; background-repeat:no-repeat;"><span
      class="d-title">GARDEN VIEW</span></div>

  <div ng-repeat="room in browser.roomsv | filter: {category:'Classic'}">
    <div ng-if="$even" class="container listing even">
      <div class="col-md-6">
        <div class="top-right-bg tiles">
          <img ng-src="[[room.photos[0].yankee_large]]" class="margin-top padd-20 img-responsive">
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-right">
          <h2>[[room.name]]</h2>
          <h3 class="gold_gotham">TONIGHT’S RATE</h3>
          <h4 class="right-pd light_grey" rt3-code="[[room.code]]"> <img src="/images/icons/ellipsis.svg"> </h4>
          <p class="right-pd">
            [[room.short_description]]

          </p>
          <p class="text-left">
            <!--a ng-href="https://thecelinohotel.reztrip.com/search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" class="btn-booknow hvr-fade">BOOK NOW</a--><a ng-href="/rooms-suites/[[room.name | lowercase | nospace | spacetohyphen]]/" class="btn-border hvr-border-fade">Preview
              Room</a>
          </p>
        </div>
      </div>
    </div>

    <div ng-if="$odd" class="container listing odd">
      <div class="col-md-6">
        <div class="content-left2">
          <h2>[[room.name]]</h2>
          <h3 class="gold_gotham">TONIGHT’S RATE</h3>
          <h4 class="right-pd light_grey" rt3-code="[[room.code]]"> <img src="/images/icons/ellipsis.svg"> </h4>
          <p class="right-pd">
            [[room.short_description]]

          </p>
          <p class="text-left">
            <!--a ng-href="https://thecelinohotel.reztrip.com/search?selected_room_category=[[room.category]]&selected_room=[[room.code]]"  class="btn-booknow hvr-fade">BOOK NOW</a--><a ng-href="/rooms-suites/[[room.name | lowercase | nospace | spacetohyphen]]/" class="btn-border hvr-border-fade">Preview
              Room</a>
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="bottom-right-bg wood pull-right">
          <img ng-src="[[room.photos[0].yankee_large]]" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-lightblue">
  <div class="container no-padding">
    <div class="contact-strip-2" style="background-image:url(/images/contact/contact-strip-1.jpg)"></div>
    <div class="container mapsec">
      <div class="col-md-12">
        <div class="wrapper-rText">
          <div class="block-title">
            <h1 class="rotate">THE WAY <br>TO PARADISE</h1>
          </div>
          <div class="rightBx marg-27">
            <div class="row">
              <div class="col-md-12 margin-top">
                {% include location-map.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include newsletter.html %}