---
layout: default
title: Celino Hotel South Beach
bg: bg-rooms
---
<div class="loading" style="display:block">Loading&#8230;</div>

<div class="padd-fixedtop"></div>
<section class="padd-top50 top-margin">
  <div class="container no-padding">
    <div class="col-md-12  no-padding">
      <div class="wrapper-rText inner-pages">
        <div class="block-title">
          <h1 class="rotate top-15">MODERN <br> INDULGENCE</h1>
        </div>
        <div class="rightBx">
          <div class="col-md-12  no-padding">
            <div class="banner-top"><img src="/images/rooms/hero-banner.jpg" alt="banner rooms" class="img-responsive center-block">
              <h2 class="white"> Suites</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="listings" ng-repeat="cat in browser.roomCategories">
  <div class="devider-inner top-40"  style="background: url('/images/bg-leaf.jpg'); background-position: top right; background-repeat:no-repeat;"><span
      class="d-title">[[ cat ]]</span></div>

  <div ng-repeat="room in browser.roomsList | filter : {category : cat}" on-finish-render="hideLoader">
    <div ng-if="$even" class="container listing even">
      <div class="col-md-6">
        <div class="top-right-bg tiles">
          <img ng-src="[[ room.photos[0].large ]]" class="margin-top padd-20 img-responsive">
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-right">
          <h2 ng-bind-html="room.name | renderHTMLCorrectly"></h2>
          <h3 class="gold_gotham">TONIGHT’S RATE</h3>
          <h4 class="right-pd"><a ng-href="{{site.reztripUrl}}[[room.todayRate == 'Check Availability' ?  '?selected_room='+room.code : 'search?selected_room='+room.code ]]" class="light_grey"><span ng-show="room.todayRate != 'Check Availability'">[[portalInfo.default_currency_symbol]]</span>[[ room.todayRate ]]</a></h4>
          <p class="right-pd" ng-bind-html="room.short_description | renderHTMLCorrectly"></p>
          <p class="text-left">
            <!--a ng-href="https://thecelinohotel.reztrip.com/search?selected_room_category=[[room.category]]&selected_room=[[room.code]]" class="btn-booknow hvr-fade">BOOK NOW</a-->
            <a ng-href="/room/#[[room.name | formatNameForLink]]" class="btn-border hvr-border-fade">Preview [[ room.name | roomOrSuite ]]</a>
          </p>
        </div>
      </div>
    </div>

    <div ng-if="$odd" class="container listing odd">
      <div class="col-md-6">
        <div class="content-left2">
          <h2 ng-bind-html="room.name | renderHTMLCorrectly"></h2>
          <h3 class="gold_gotham">TONIGHT’S RATE</h3>
          <h4 class="right-pd "><a ng-href="{{site.reztripUrl}}[[room.todayRate == 'Check Availability' ?  '?selected_room='+room.code : 'search?selected_room='+room.code ]]" class="light_grey"><span ng-show="room.todayRate != 'Check Availability'">[[portalInfo.default_currency_symbol]]</span>[[ room.todayRate ]]</a></h4>
          <p class="right-pd" ng-bind-html="room.short_description | renderHTMLCorrectly"></p>
          <p class="text-left">
            <!--a ng-href="https://thecelinohotel.reztrip.com/search?selected_room_category=[[room.category]]&selected_room=[[room.code]]"  class="btn-booknow hvr-fade">BOOK NOW</a-->
            <a ng-href="/room/#[[room.name | formatNameForLink]]" class="btn-border hvr-border-fade">Preview [[ room.name | roomOrSuite ]]</a>
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="bottom-right-bg wood pull-right">
          <img ng-src="[[ room.photos[0].large ]]" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-lightblue">
  <div class="container no-padding">
    <div class="contact-strip-2" style="background-image:url(/images/contact/contact-strip-1.jpg)"></div>
    <div class="container mapsec">
      <div class="col-md-12">
        <div class="wrapper-rText">
          <div class="block-title">
            <h1 class="rotate">THE WAY <br>TO PARADISE</h1>
          </div>
          <div class="rightBx marg-27">
            <div class="row">
              <div class="col-md-12 margin-top">
                {% include location-map.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include newsletter.html %}
