<section class="offers-slider">
  <div class="offers-slider__wrap">
    <h3>Attractions</h3>
    <div class="offers-slider__items" id="deals-offers">
      <div>
        <a href="#"><img src="/assets/images/home/offers/dine-drink-special.jpg" alt="dine and drinks"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">Dine & Drink Specials</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div>
        <a href="#"><img src="/assets/images/home/offers/dine-drink-special.jpg" alt="dine and drinks"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">Dine & Drink Specials</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div>
        <a href="#"><img src="/assets/images/home/offers/dine-drink-special.jpg" alt="dine and drinks"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">Dine & Drink Specials</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div>
        <a href="#"><img src="/assets/images/home/offers/dine-drink-special.jpg" alt="dine and drinks"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">Dine & Drink Specials</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="enjoy">
  <div class="enjoy__wrap">
    <div class="enjoy__title">
      {% regionblock dine_title, type: header %}
      Enjoy
      {% endregionblock %}
    </div>
    <div class="enjoy__categories"></div>
  </div>
  <div class="enjoy__wrap">
    <div class="enjoy__image">
      <img src="/assets/images/home/dine-photo.jpg" alt="Salte">
    </div>
    <div class="enjoy__detail">
      <article>
        <h5>Salte</h5>
        <hr>
        <p>Salte offers Italian inspired cuisine in a stylishly elegant setting. Using the freshest and finest ingredients, Salte offers a distinctive take on Italian cuisine using contemporary techniques and features such as, house-made ricotta, wood-fired pizzas, and made-from-scratch pastas. At Salte, our approach is simple; source the best ingredients possible and prepare them in an uncomplicated and modern way.</p>
        <a href="#" class="button button--arrow">Learn More</a>
      </article>
    </div>
  </div>
  <div class="enjoy__wrap enjoy__wrap--even">
    <div class="enjoy__image">
      <img src="/assets/images/home/dine-photo.jpg" alt="Salte">
    </div>
    <div class="enjoy__detail">
      <article>
        <h5>Salte</h5>
        <hr>
        <p>Salte offers Italian inspired cuisine in a stylishly elegant setting. Using the freshest and finest ingredients, Salte offers a distinctive take on Italian cuisine using contemporary techniques and features such as, house-made ricotta, wood-fired pizzas, and made-from-scratch pastas. At Salte, our approach is simple; source the best ingredients possible and prepare them in an uncomplicated and modern way.</p>
        <a href="#" class="button button--arrow">Reserve Now</a>
      </article>
    </div>
  </div>
  <div class="enjoy__wrap">
    <div class="enjoy__image">
      <img src="/assets/images/home/dine-photo.jpg" alt="Salte">
    </div>
    <div class="enjoy__detail">
      <article>
        <h5>Salte</h5>
        <hr>
        <p>Salte offers Italian inspired cuisine in a stylishly elegant setting. Using the freshest and finest ingredients, Salte offers a distinctive take on Italian cuisine using contemporary techniques and features such as, house-made ricotta, wood-fired pizzas, and made-from-scratch pastas. At Salte, our approach is simple; source the best ingredients possible and prepare them in an uncomplicated and modern way.</p>
        <a href="#" class="button button--arrow">Reserve Now</a>
      </article>
    </div>
  </div>
  <div class="enjoy__wrap enjoy__wrap--even">
    <div class="enjoy__image">
      <img src="/assets/images/home/dine-photo.jpg" alt="Salte">
    </div>
    <div class="enjoy__detail">
      <article>
        <h5>Salte</h5>
        <hr>
        <p>Salte offers Italian inspired cuisine in a stylishly elegant setting. Using the freshest and finest ingredients, Salte offers a distinctive take on Italian cuisine using contemporary techniques and features such as, house-made ricotta, wood-fired pizzas, and made-from-scratch pastas. At Salte, our approach is simple; source the best ingredients possible and prepare them in an uncomplicated and modern way.</p>
        <a href="#" class="button button--arrow">Reserve Now</a>
      </article>
    </div>
  </div>
</section>

{% include instagram.html %}
