<section class="double-cta">
  <div class="double-cta__cta-wrap">
    <div class="double-cta__left">
      <img src="/assets/images/rooms/pool-image.jpg" alt="Pool Image">
      <div class="double-cta__text">
        <h5>THE CELINO EXPERIENCE</h5>
        <a href="#" class="button">Amenities</a>
      </div>
    </div>
    <div class="double-cta__right">
      <img src="/assets/images/rooms/palm-trees.jpg" alt="Palm Trees">
      <div class="double-cta__text">
        <h5>VIRTUAL TOUR</h5>
        <a href="#" class="button">Amenities</a>
      </div>
    </div>
  </div>
</section>
