<section class="double-cta">
  <div class="double-cta__cta-wrap">
    <div class="double-cta__left wow fadeIn" data-wow-delay="1s">
      <img src="/assets/images/rooms/pool-image.jpg" alt="Pool Image">
      <div class="double-cta__text">
        <h5 tabindex="0">THE CELINO EXPERIENCE</h5>
        <a href="/about/#hotel-amenities" class="button">Amenities</a>
      </div>
    </div>
    <div class="double-cta__right wow fadeIn" data-wow-delay=".5s">
      <img src="/assets/images/rooms/palm-trees.jpg" alt="Palm Trees">
      <div class="double-cta__text">
        <h5 tabindex="0">VIRTUAL TOUR</h5>
        <a href="/gallery/" class="button">Explore</a>
      </div>
    </div>
  </div>
</section>
