<section class="offers-slider included-offer" rt3-special-rates="offers" ng-show="offers.special_rates.length > 0">
  <div class="offers-slider__wrap">
    <h3><a href="/offers/">Deals & Offers</a></h3>
    <div class="offers-slider__items" id="deals-offers">
      <div ng-repeat="offer in offers.special_rates">
        <a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]"><img ng-src="[[ offer.images[0].large || '/assets/images/dummy.jpg' ]]" alt="[[ offer.rate_plan_name ]]"></a>
        <div class="offers-slider__detail">
          <h4><a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
