<section class="offers-slider included-offer wow fadeIn" data-wow-delay="1s"  rt3-special-rates="offers" ng-show="offers.special_rates.length > 0">
  <div class="offers-slider__wrap">
    <h3 class="h3"><a href="/offers/">Deals & Offers</a></h3>
    <div class="offers-slider__items" id="deals-offers">
      <div class="item" ng-repeat="offer in offers.special_rates">
        <figure>
          <img ng-src="[[ offer.images[0].large || '/assets/images/dummy.jpg' ]]" alt="Special offer" tabindex="-1">
        </figure>
        <div class="offers-slider__detail">
          <p class="h4"><a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly" class="link"></a></p>
          <p tabindex="0">[[ offer.short_description | limitTo: 101 ]][[ offer.short_description.length > 100 ? '...' : '' ]]</p>
          <a ng-href="/offer/#[[offer.rate_plan_name | formatNameForLink]]" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
