<section class="offers-slider">
  <div class="offers-slider__wrap">
    <h3 tabindex="0">Deals & Offers</h3>
    <div class="offers-slider__items" id="deals-offers">
      <div>
        <a href="#" tabindex="-1"><img src="/assets/images/home/offers/dine-drink-special.jpg" alt="dine and drinks"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">Dine & Drink Specials</a></h4>
          <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div>
        <a href="#" tabindex="-1"><img src="/assets/images/home/offers/dine-drink-special.jpg" alt="dine and drinks"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">Dine & Drink Specials</a></h4>
          <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div>
        <a href="#" tabindex="-1"><img src="/assets/images/home/offers/dine-drink-special.jpg" alt="dine and drinks"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">Dine & Drink Specials</a></h4>
          <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
      <div>
        <a href="#" tabindex="-1"><img src="/assets/images/home/offers/dine-drink-special.jpg" alt="dine and drinks"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">Dine & Drink Specials</a></h4>
          <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
