<footer class="footer">
	<div class="container">
	    <div class="row">
	    <div class="col-sm-3"> <img src="/images/footer-logo.png" class="img-responsive center-block">
	    </div>
	    <div class="col-sm-4">
	         <ul class="links-menu"> 
	             <li> <a href="/rooms/">ROOMS & SUITES</a></li> 
	             <li> <a href="/contact/">CONTACT</a></li>
	             <li> <a href="/location/">LOCATION</a></li>
	         </ul>
	         <hr id="contact">
	         <p class="copyright">RESERVATIONS   +1  305 · 673 · 3106 <br>640 Ocean Drive, Miami Beach, FL 33139</p>
	    </div>
	     <div class="col-sm-5">
	     <p>Being on Ocean Drive, Celino Hotel boasts a promising stay to any guest that chooses us. Our beachy surroundings mixed in with the iconic nightlife of the Ocean Drive strip, makes for a Miami experience that livens everyone, brings excitement and provides many new cultural indulgence opportunities.</p>
	     <hr>
	      <p class="social-links"><strong>@celinohotel</strong> <span><a href="https://www.instagram.com/celinohotel/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
</a></span> <span><a href="https://www.facebook.com/celinohotel/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i>
</a></span> <!--span><a href=""><i class="fa fa-twitter" aria-hidden="true"></i>
</a></span--></p>
	     </div>
	    </div>
	</div>
</footer>