<section id="hotel-amenities" class="guest-changes wow fadeIn" data-wow-delay=".5s">
  <div class="guest-changes__inner">
    <h3 tabindex="0">LUXURIOUS AMENITIES</h3>
    <ul>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/tv.png" alt="TV">
        </div>
        <span tabindex="0">50” Flat Screen HDTV</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/coffee.png" alt="Coffee">
        </div>
        <span tabindex="0">Illy Coffee Maker</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/wine.png" alt="Wine">
        </div>
        <span tabindex="0">Curated Gourmet Mini Bar</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/shower.png" alt="Shower">
        </div>
        <span tabindex="0">Rain-Fall Shower Heads</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/bag.png" alt="Bag">
        </div>
        <span tabindex="0">Celino Signature Beach Bag</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/robe.png" alt="Robe">
        </div>
        <span tabindex="0">Designer Robe &amp; Slippers</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/amenities.png" alt="Amenities">
        </div>
        <span tabindex="0">Exclusive Bath Amenities</span>
      </li>
      <li>
        <div class="holder">
          <img class="x2-image" src="/assets/images/hotel/hairdryer.png" alt="hair dryer">
        </div>
        <span tabindex="0">Chi Pro Hairdryers</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/bed.png" alt="Bed Linens">
        </div>
        <span tabindex="0">Sferra Bed Linens</span>
      </li>
      <li>
        <div class="holder">
          <img class="x2-image" src="/assets/images/hotel/towel.png" alt="towel">
        </div>
        <span tabindex="0">Bellino Pool Towels</span>
      </li>
    </ul>
  </div>
</section>
