<section class="guest-changes">
  <div class="guest-changes__inner">
    <h3 tabindex="0">LUXURIOUS AMENITIES</h3>
    <ul>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/tv.png" alt="TV">
        </div>
        <span tabindex="0">50” Flat Screen HDTV</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/coffee.png" alt="Coffee">
        </div>
        <span tabindex="0">Coffee Maker</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/wine.png" alt="Wine">
        </div>
        <span tabindex="0">Curated Gourmet Mini Bar</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/speaker.png" alt="Speaker">
        </div>
        <span tabindex="0">Bluetooth Speaker</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/shower.png" alt="Shower">
        </div>
        <span tabindex="0">Walk-In Shower</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/bag.png" alt="Bag">
        </div>
        <span tabindex="0">Celino Signature Beach Bag</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/robe.png" alt="Robe">
        </div>
        <span tabindex="0">Designer Robe &amp; Slippers</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/bed.png" alt="Bed">
        </div>
        <span tabindex="0">Custom Hemp-Blend Mattress by Keetsa</span>
      </li>
      <li>
        <div class="holder">
          <img src="/assets/images/hotel/amenities.png" alt="Amenities">
        </div>
        <span tabindex="0">Exclusive Board and Batten Bath Amenities</span>
      </li>
    </ul>
  </div>
</section>
