<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container bg-white">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="/images/logo.png" alt="Anchorage Inn"></a>
          <a class="bookBtn" href="" target="_blank">BOOK NOW</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav"> 
             {% for items in obj.header-links %}
              {% if items.parent == page.parent %}
              <li class="active"><a href={{items.url}}>{{items.name}}</a></li>
              {% else %}
              <li><a href="{{items.url}}">{{items.name}}</a></li>
              {% endif %}               
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><a  class="blueBtn"  href="#" target="_blank">BOOK NOW</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>