
<section class="instagram-gallery wow fadeIn" data-wow-delay=".5s">
  <div class="instagram-gallery__wrap">
    <div class="instagram-gallery__title">
      {% if site.data.social.instagram.username %}
      <a href="https://instagram.com/{{ site.data.social.instagram.username }}" target="_blank" title="Celino Hotel on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      {% endif %}
      <br>
      <div tabindex="0">@TheCelinoHotel</div>
    </div>
    <div class="instagram-gallery__image-bg"></div>
  </div>
  <div class="instagram-gallery__wrap" id="instagram-photos"></div>
</section>
