{% assign links = site.data.navigation.main %}

<div class="top-nav top-nav--flower">
  <a class="hotel-logo" href="/"><img src="/assets/images/celino-logo.png" alt="{{ site.name}} logo"></a>
  <a class="booking-toggle" id="toggle-booking" href="/"><span class="vertical-line"></span><strong>View Rates</strong></a>
  <a class="menu-toggle" id="toggle-menu" href="/" title="Menu"><span>Menu</span> </a>
</div>

<div class="menu-items" id="menuItems">
  <nav class="menu-items__wrap">
    <span class="menu-items__close" id="closeMenu"></span>
    <ul>
    {% for link in links %}
      <li class="nav-item{% if page.url == link.url %} active{% endif%}">
        <a class="nav-link" href="{{ link.url | absolute_url }}">{{ link.title }}{% if page.url == link.url %}<span class="sr-only">(current)</span>{% endif%}</a>
      </li>
    {% endfor %}
    </ul>
    <address>
      <span>640 Ocean Drive, Miami Beach, Florida 33139</span> (p): <a href="tel:786.574.4090">786.574.4090</a>
    </address>
  </nav>

</div>
