<section class="newsletter">
  <div class="container">
    <div class="col-md-6">
      <div class="content-left2">
        <h2 class="right-pd" id="signup">Stay In The Know</h2>
        <p>The Celino will debut in 2018 and we want you to be in the know. To receive exclusive offers and updates as to
          what is happening at The Celino, please provide us with your contact information.</p>
        <div class="alert alert-success">
          <h4>Thank You!</h4><br>We will get in touch with you shortly.
        </div>
        <form class="form-inline" action="https://submit.jotform.me/submit/62761681663463/" method="post" name="form_62761681663463"
          id="62761681663463" accept-charset="utf-8">
          <input type="hidden" name="formID" value="62761681663463" aria-label="hidden" title="hidden" />
          <div class="col-sm-6 no-padding">
            <input type="text" required class="form-control" name="q5_name5" size="30" value="" id="q5_name5" placeholder=" Name *" aria-label="Name"
              title="Name">
            <input type="text" class="form-control zip-code" name="q4_zipCode4" size="30" value="" id="q4_zipCode4" style="margin-top: 20px;"
              placeholder=" Zip Code" aria-label="Zip Code" title="Zip Code">
          </div>
          <div class="col-sm-6 no-padding">
            <input type="email" required class="form-control" name="q3_email" size="30" value="" id="email" placeholder=" Your email address *"
              aria-label="Your email address" title="Your email address">
          </div>
          <div class="checkbox tnc">
              <label for="agree">
                <input type="checkbox" name="q6_iAgree[]" value="agree" id="agree" aria-label="Press Spacebar to Agree to the Terms of Service & Privacy Policy" required="required"> * I agree to the
                <a href="/terms-of-use/" target="_blank">Terms of Service</a> and <a href="/privacy-policy/" target="_blank">Privacy
                  Policy
                </a>.
              </label>
            </div>
          <button type="submit" class="form-control button" name="submit" value="SIGN UP" id="signUpBtn">SIGN UP</button>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <img src="/images/shareimages.jpg" alt="Cropped Images" class="margin-top padd-20 img-responsive">
    </div>
  </div>

</section>
