            <div id="owl-deals" class="owl-carousel owl-gallery">
                <div class="item"><img class="lazyOwl" src="/images/deals/1.jpg"  alt="Cottilion Room">
                    <div class="caption">
                     <h4 class="white-text">Early Bird Deal</h4>
                      <p>Book now and save 00% on our Ocenafront Suits…</p>
                      <a class="margin-top-btn btn-border-gold hvr-border-fade btn-block text-center">Learn More</a> 
                    </div>
                </div>
                <div class="item"><img class="lazyOwl" src="/images/deals/2.jpg" alt="Garden Room">
                    <div class="caption">
                     <h4 class="white-text">Drink deal…</h4>
                     <p>Complimentary poolside drink when booking 1 week stay…</p>
                      <a  class="margin-top-btn btn-border-gold hvr-border-fade btn-block text-center">Learn More</a> 
                    </div>
                </div>
                <div class="item"><img class="lazyOwl" src="/images/deals/3.jpg" alt="Garden Room">
                    <div class="caption">
                     <h4 class="white-text">Shopping deal…</h4>
                     <p>Personal shopping at Webster Boutique…</p>
                      <a  class="margin-top-btn btn-border-gold hvr-border-fade btn-block text-center">Learn More</a> 
                    </div>
                </div>  

              </div>

              </div>
              </div>