<section class="roomowl-bg padd-top50 margin-top">
  <div class="container">
  <div class="col-md-12">
     <div class="wrapper-rText">
    <div class="block-title">
    <h1 class="rotate">NOT QUITE  <br> YET?</h1>
    </div>
     <div class="rightBx">
              <div class="row">
              <div class="col-md-12">
             
                           <div id="owl-rooms" class="owl-carousel owl-gallery">
                <div class="item"><img class="lazyOwl" src="/images/deals/1.jpg"  alt="Cottilion Room">
                    <div class="caption">
                     <h4 class="white-text">CLASSIC 2 QUEEN</h4> 
                      <a class="btn-border-gold hvr-border-fade btn-block text-center">Learn More</a> 
                    </div>
                </div>
                <div class="item"><img class="lazyOwl" src="/images/deals/2.jpg" alt="Garden Room">
                    <div class="caption">
                     <h4 class="white-text">PART. OVEAN VIEW KING</h4> 
                      <a  class="btn-border-gold hvr-border-fade btn-block text-center">Learn More</a> 
                    </div>
                </div>
                <div class="item"><img class="lazyOwl" src="/images/deals/3.jpg" alt="Garden Room">
                    <div class="caption">
                     <h4 class="white-text">OCEAN FRONT KING</h4> 
                      <a  class="btn-border-gold hvr-border-fade btn-block text-center">Learn More</a> 
                    </div>
                </div>  

              </div>

              </div>
              </div>
                    
     </div>
     </div> 
  </div>
  </div>
</section>