
<script src="/js/jquery.min.js"></script>
<script src="/js/booking-widget.js"></script> 
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/angular.min.js"></script>   
<script src="/js/rt3api.js"></script> 
<script src="/js/ui-date.js"></script> 
<script src="/js/rez-trip.js"></script>
<script src="/js/rt3-services.js"></script>
<script src="/js/rt3-directives.js"></script>
<script src="/js/rt3-filters.js"></script> 
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/smooth-scroll.js"></script>
<script src="/js/galleria-1.4.7.min.js"></script>
<script src="/js/galleria.classic.js"></script>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ84pWJ7IvD0tqZzICNheaWOgJr4TMuEA"></script>

<script src="/js/jquery.fittext.js"></script> 
<script src="/js/custom.js"></script> 



<script src="/js/lightbox.min.js"></script> 
{% comment %}
{% include booking-widget.html %}
{% endcomment %}
