 <div class="container mapsec">
       <div class="col-md-6">
       <div class="weather-img">
       <img src="/images/south-beach.png" class="margin-top padd-20 img-responsive">
          <div class="weather-block">
            <p><span class="fahr"></span> / <span class="cel"></span> </p>
          </div>
       </div>
       </div>
       <div class="col-md-6">
	          <div class="content-right">
	            <h2>SOUTH BEACH</h2>
	            <h4 class="right-pd">Be captivated by unforgettable nightlife.</h4>
	            <p class="right-pd">
	             South Beach is the epitome of all that makes Miami nightlife captivating. From the mix of culturally-inspired restaurants, to the fashionable shopping always on pulse with trends, there seems to be little time to slow down. In fact, sleeping is optional while having a good time is mandatory.
	            </p>
	            <p class="text-right">
              {% if page.url !='/location/' %}
	            <a href="/location/" class="btn-border hvr-border-fade">EXPLORE PARADISE</a>
              {% endif %}
	            </p>
	           </div>
       </div>
    </div>