.bg-contact{
	 background-image: url('/images/bg-contact-left.jpg');
	 background-position: 577px top;
}
.map-holder {
				border: solid 4px #0f1237;
				height: 300px;
				margin: 0 15px 0 0;
					@media(min-width: $screen-sm-min){
						height: 500px;
						margin: 0 15px 0 0;
					}
					@media(min-width: $screen-md-min){
						height: 648px;
					}
			}
.contact-details {
	
	position: relative;
		&.padd-top50 {
			padding-bottom: 0;
		}
		
		.col-md-5 {
				@media(min-width: $screen-md-min){
				width: 35.66667%;
				}
			}
			.col-md-7 {
				@media(min-width: $screen-md-min){
				width: 64.33333%;
				}
			}
		
	.contact-details-wrap {
		margin: 0 auto 0 80px;
			@media(min-width: $screen-sm-min){
				margin: 0 auto 0 21%;
			}
			@media(min-width: 2000px){
				margin: 0 auto 0 auto;
			}
	}
	.container {
		width: auto;
		max-width: 1922px;
		margin: 0 auto;
		
	}
	.-left {
		@media(min-width: $screen-md-min){
			position: absolute;
			bottom: 0;
		}
	}
	.-right {
		@media(min-width: $screen-md-min){
			float: right;
		}
	}
		
			h1 {
				position: absolute;
				top: 50%;
				padding-top: 0;
				height: 2em;
				margin: auto;
				margin-bottom: auto;
				font-family: gotham-ultra;
				font-size: 20px;
				letter-spacing: 0.2em;
				line-height: 20px;
				color: #dbbf97;
				text-transform: uppercase;
					@media(min-width: $screen-sm-min){
						padding-top: 25px;
						font-size: 30px;
						line-height: 30px;
						top: 0;
						bottom: 0;
					}
					@media(min-width: 1200px){
						font-size: 50px;
						line-height: 50px;
					}
					@media(min-width: 1600px){
						font-size: 70px;
						line-height: 85px;
					}
					&.rotate {
						    -webkit-transform: rotate(-90deg) translate(-0%, 80%);
						    transform: rotate(-90deg) translate(-0%, 80%);
								@media(min-width: $screen-sm-min){
									-webkit-transform: rotate(-90deg) translate(-62%, 80%);
						    		transform: rotate(-90deg) translate(-62%, 80%);
								}
					}
			}

	.events-left-wrap {
		
			overflow: hidden;
			margin: 0 auto;
			text-align: center;
			margin: 40px 0;
			@media(min-width: $screen-sm-min){
				margin: 0;
				padding: 30px 0 0 0;
			}
			@media(min-width: $screen-md-min){
				text-align: left;
			}
			@media(max-width: 599px){
				
			}
	}
	.events-left-item {
		font-family: gotham-bold;
		color: #63657d;
		padding-bottom: 40px;
		position: relative;
		
		@media(min-width: 1200px){
				padding-bottom: 50px;
				margin-bottom: 7px; 
			}
		@media(min-width: 1400px){
				padding-bottom: 60px;
				margin-bottom: 14px;    
			}
			&:after {
					position: absolute;
					content: "";
					height: 1px;
					background-color: #dbbf97;
					bottom: 25px;
					width: 28px;
					left:0;
					right:0;
					margin: 0 auto;
						@media(min-width: $screen-md-min){
							left:0;
							margin: 0;
						}
				}
				&:last-child {
					padding-bottom: 0;
					&:after {
						content:normal;
					}
				}
			
			a{
				color: #63657d;
				text-decoration: none;
					&:focus, &:hover {
						color: #63657d;
						text-decoration: none;
					}
			}
		h3{
			font-family: gotham-bold;
			font-size: 15px;
			text-transform: uppercase;
			position: relative;
			color: #dbbf97;
			letter-spacing: 4px;
			margin: 0;
			padding-bottom: 14px;
				@media(min-width: 1200px){
					padding-bottom: 14px;
				}
				@media(min-width: 1400px){
					font-size: 20px;
					padding-bottom: 23px;
				}
				
		}
		.events-left-list {
			font-family: gotham-medium;
			margin: 0;
			padding: 0;
			color: #63657d;
				li {
					list-style-type: none;
					font-size: 13px;
					letter-spacing: normal;
					line-height: 26px;
						@media(min-width: $screen-sm-min){
							font-size: 15px;
						}
						@media(min-width: 1200px){
							font-size: 15px;
						}
						@media(min-width: 1400px){
							font-size: 20px;
						}
						.diff-style {
							
								font-family: gotham-ultra;
							
							a{
								text-decoration: none;
								color: #63657d;
							}
						}
						
						&.item-spacing {
							padding-top: 22px;
						}
				}
		}
	}
	.contact-hero {
		max-width: 712px;
		img {
			width: 100%;
		}
	}
	.contact-strip-1 {
		margin: 40px 0 0 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 50px;
			@media(min-width: $screen-sm-min){
				margin: 90px 0 0 0;
			}
	}
	
}

.contact-strip-1 {
		margin: 0 0 0 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 50px;
			@media(min-width: $screen-sm-min){
				margin: 90px 0 0 21%;
			}
	}

.contact-form {
	padding: 40px 15px 0 15px;
		
	@media(min-width: $screen-md-min){
				padding: 116px 15px 0 15px;
			}
			@media(min-width: 1600px){
				padding: 116px 0 0 0;
			}
			.col-md-5 {
				@media(min-width: $screen-md-min){
				width: 35.66667%;
				}
			}
			.col-md-7 {
				@media(min-width: $screen-md-min){
				width: 64.33333%;
				}
			}
	.container {
		width: auto;
		max-width: 1104px;
		margin: 0 auto;
		
			@media(min-width: $screen-md-min){
				margin: 0 0 0 21%;
			}
			@media(min-width: 1600px){
				padding: 0;
			}
	}
	.-left {
		position: relative;
		margin: 0 0 40px 0;
		text-align: center;
			@media(min-width: $screen-md-min){
				text-align: left;
				margin: 0 0 0 -76px;
			}
	}
	.-title {
		font-family: 'Americana-Bold';
		font-size: 24px;
		color: #000;
		line-height: 30px;
		padding: 0 0 20px 0;
		letter-spacing: 1px;
		margin: 0;
			@media(min-width: $screen-sm-min){
				font-size: 30px;
				line-height: 36px;
				letter-spacing: 2px;
			}
			@media(min-width: $screen-md-min){
				
				padding: 0 0 40px 0;
			}
			@media(min-width: 1200px){
				font-size: 36px;
				line-height: 50px;
			}
			@media(min-width: 1600px){
				font-size: 40px;
			}
	}
	.-des {
		font-family: 'gotham-light';
		font-size: 18px;
		color: #000;
			@media(min-width: 1600px){
				font-size: 20px;
			}
			.bold-text {
				font-family: 'gotham-ultra';
				text-decoration: none;
			}
	}
		.f-holder {
			margin: 0 0 20px 0;
				@media(min-width: $screen-sm-min){
					margin: 0 0 45px 0;
				}
				&:last-child {
					margin: 0 0 0 0;
				}
			.inputbox {
				font-family: 'gotham-medium';
				font-size: 14px;
				letter-spacing: 1px;
				color: #231f20;
				border: solid 4px #95989a;
				height: 54px;
				width: 100%;
				padding: 15px 15px;
				outline: none;
				border-radius: 0px;
				-webkit-appearance: none;
				appearance: none;
				transition: all 0.5s;
					@media(min-width: $screen-sm-min){
						letter-spacing: 2px;
						height: 67px;
						font-size: 20px;
						padding: 15px 25px;
					}
					&:focus {
						border-color: #0f1237;
					}
			}
			.textarea {
				font-family: 'gotham-medium';
				font-size: 14px;
				letter-spacing: 1px;
				color: #231f20;
				border: solid 4px #95989a;
				height: 135px;
				width: 100%;
				outline: none;
				border-radius: 0px;
				-webkit-appearance: none;
				appearance: none;
				padding: 15px 15px;
				transition: all 1s;
					@media(min-width: $screen-sm-min){
						letter-spacing: 2px;
						font-size: 20px;
						padding: 15px 25px;
						height: 278px;
					}
					@media(min-width: 1800px){
						width: 134.463%;
					}
					
					&:focus {
						border-color: #0f1237;
					}
			}
			.form-btn {
				font-family: 'gotham-bold';
				border: solid 4px #0f1237;
				height: 54px;
				width: 200px;
				color: #0f1237;
				text-align: center;
				border-radius: 0px;
				appearance: none;
				-webkit-appearance: none;
				outline: none;
				font-size: 20px;
				letter-spacing: 3px;
				background-color: #fff;
				text-transform: uppercase;
				transition: all 1s;
					&:hover {
						background-color: #0f1237;
						color: #fff;
					}
					@media(min-width: $screen-sm-min){
						width: 367px;
						height: 67px;
					}
			}
		}
}

.map-wrap {
	position: relative;
	background-color: #f7f3e8;
	margin: 50px 0 0 0;
	padding: 0 0 50px 0;
		@media(min-width: $screen-md-min){
			margin: 90px 0 0 0;
			padding: 0 0 90px 0;
		}
	.container {
		width: auto;
			margin: 50px auto 0 80px;
			@media(min-width: $screen-sm-min){
				margin: 50px auto 0 21%;
				max-width: none;
			}
			@media(min-width: $screen-md-min){
				margin: 105px auto 0 21%;
				max-width: 73.5%;
			}
			@media(min-width: 1600px){
				max-width: 73.5%;
			}
			@media(min-width: 2000px){
				margin: 0 auto 0 auto;
			}
	}
	h2 {
				position: absolute;
				padding-top: 0;
				height: 2em;
				margin: auto;
				margin-bottom: auto;
				font-family: gotham-ultra;
				font-size: 20px;
				letter-spacing: 0.2em;
				line-height: 20px;
				color: #dbbf97;
				text-transform: uppercase;
				bottom: 30px;
					@media(min-width: $screen-sm-min){
						padding-top: 25px;
						font-size: 30px;
						line-height: 30px;
						bottom:0;
						
					}
					@media(min-width: 1200px){
						font-size: 50px;
						line-height: 50px;
					}
					@media(min-width: 1600px){
						font-size: 70px;
						line-height: 85px;
					}
					&.rotate {
						    -webkit-transform: rotate(-90deg) translate(0%, 80%);
						    transform: rotate(-90deg) translate(0%, 80%);
								@media(min-width: $screen-sm-min){
									-webkit-transform: rotate(-90deg) translate(0%, 80%);
						    		transform: rotate(-90deg) translate(0%, 80%);
								}
					}
			}
			
}

.contact-strip-2 {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 50px;
		margin: 0 0 0 0;
			@media(min-width: $screen-sm-min){
				margin: 0 0 0 21%;
			}
	}