@font-face {
    font-family: gotham-light;
    src: url("/fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
    font-family: gotham-medium;
    src: url("/fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
    font-family: gotham-ultra;
    src: url("/fonts/Gotham-Ultra.otf") format("opentype");
}

@font-face {
    font-family: gotham-bold;
    src: url("/fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
    font-family: gotham-bolditalic;
    src: url("/fonts/Gotham-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: Americana-Bold;
    src: url("/fonts/AmericanaStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: Americana-ExtraBold;
    src: url("/fonts/AmericanaStd-ExtraBold.otf") format("opentype");
}