.bg-location{
    background-image: url(/images/bg-leaf1.jpg);
    background-position:left top;
     .wrapper-rText{
				min-height: 100px !important;
			}
	.last-sec{
		padding-bottom: 50px;
	}
	i{
		font-size: 14px;
		color: #95989a;
		margin-top: 20px;
		line-height: 70px;
	}
	.weather-block{
		background: $white;
		color: #c8c9cd;
	}
}

.location{
	&.padd-top50{
		    padding: 80px 0px 0px 0px;
		    @media(max-width: $medium){
		    	padding: 20px 0px;
		    }
		    @media(max-width: $on-laptop){
		    	padding: 60px 0px 0px 0px;
		    }
	}
	margin-top: 10px;
	.gps{
		 padding-top: 0px;
	}
	.events-left-item {
		padding-top: 40px;
		font-family: gotham-bold;
		color: #63657d;
		padding-bottom: 40px;
		position: relative;
		
		
		@media(min-width: $medium){
				padding-bottom: 40px;
				margin-bottom: 14px;    
			}
		@media(min-width: $optional){
				padding-bottom: 30px;
				margin-bottom: 7px; 
			}	
			
			a{
				color: #63657d;
				text-decoration: none;
					&:focus, &:hover {
						color: #63657d;
						text-decoration: none;
					}
			}
		h3{
			font-family: gotham-bold;
			font-size: 15px;
			text-transform: uppercase;
			position: relative;
			color: #dbbf97;
			letter-spacing: 4px;
			margin: 0;
			padding-bottom: 14px;
				@media(min-width: 1200px){
					padding-bottom: 14px;
				}
				@media(min-width: 1400px){
					font-size: 20px;
					padding-bottom: 23px;
				}
			&:after {
					position: absolute;
					content: "";
					height: 1px;
					background-color: #dbbf97;
					top: -40px;
					width: 28px;
					left:0; 
						 
				}
				 	
		}
		.events-left-list {
			font-family: gotham-medium;
			margin: 0;
			padding: 0;
			color: #63657d;
				li {
					list-style-type: none;
					font-size: 13px;
					letter-spacing: normal;
					line-height: 26px;
						@media(min-width: $screen-sm-min){
							font-size: 15px;
						}
						@media(min-width: 1200px){
							font-size: 15px;
						}
						@media(min-width: 1400px){
							font-size: 20px;
						}
						.diff-style {
							
								font-family: gotham-ultra;
							
							a{
								text-decoration: none;
								color: #63657d;
							}
						}
						
						&.item-spacing {
							padding-top: 22px;
						}
				}
		}
	}

	.directions{
		h4{
			margin: 0px;
			@media(min-width: $larger){
				font-size: 40px;
			} 
            line-height: 34px;
		}
		 strong{
		 	 font-family: gotham-bold; 
		 }
		 a{
		 	text-decoration: none;
		 }
	}
	.loc-link{
		 width: 80%;
		 margin: 20px 0px;
		 text-align: left;
		 position: relative;
		 letter-spacing: 0.1em;
		 span{
		 	float: right;
		 	position: absolute;
		 	right: 10px;
		 	font-size: 55px;
		 	font-family: gotham-medium;
		 	line-height: 28px;

		 	@media(max-width: $large){
		 		font-size: 35px;
		 		top: 4px;
		 	}
		 }
		 &:active, &:visited{
		 	box-shadow: inset 0 0 0 4px $link-color, 0 0 1px transparent;
		 }
	}
	#map-location {
        height: 500px;
        width: 55%;
        @media(max-width: $on-palm){
        	display: none;
        }
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        overflow: scroll;
        background: $white;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel { 
        float: right;
        width: 390px;
        overflow:scroll;
        max-height: 500px;
        @media(max-width: $phone-max){
        	width: 100%;
        }
      }
      #map-location {
        margin-right: 400px;
      }
      #floating-panel {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }
      @media print {
        #map-location {
          height: 500px;
          margin: 0;
        }
        #right-panel {
          float: none;
          width: auto;
        }
      } 

      jstcache:nth-child(2){
      	 display: none;
      }

      .map-locations {
		    position: relative; 
		    margin: 50px 0px 0px;
		    padding: 0px 0px 50px;

		}
    
}

#map-locations{

			height: 700px;
			margin-bottom: 30px;
			@media(max-width: $tablet-rotate){
				height: 450px;
			}
			@media(max-width: $phone-max){
				height: 300px;
			}
			.infobox {
		  background: none repeat scroll 0 0 $link-color;
		  color: $white;
		  font-family: gotham-bold;
		  line-height: 20px;
		  font-size: 16px;
		  position: absolute;    max-height: 120px; 
		  p{
		  	font-size: 12px;
		  	line-height: 16px;
		  }
		  .content {
				  margin:15px 15px 15px 15px;
				}
		}
		.infobox:before, .infobox:after {
		  border-color: transparent transparent transparent $link-color;
		  border-style: solid;
		  border-width: 20px 20px 0;
		  bottom: -1px;
		  content: "";
		  display: block;
		  height: 0;
		  left: -1px;
		  position: absolute;
		  width: 0;
		  z-index:2
		}
		.infobox:after {
		  border-color: transparent transparent transparent #eee;
		  border-width:24px 24px 0;
		  z-index:1
		}
		.infobox .close {
		background: none repeat scroll 0 0 $sec-color;
		cursor: pointer;
		color: $white;
		float: right;
		font-size: 16px;
		height: 25px;
		line-height: 22px;
		position: relative;
		right: -25px;
		text-align: center;
		top: 0;
		width: 25px;
		text-shadow: none;
		opacity: 1;
		} 
 }
 .link-marker{
 	 display: block;
 	 font-family: gotham-bold;
 	 color: $link-color;
 	 font-size: 20px;
 	 padding: 20px 0px;
 	 line-height: 36px;
 	 cursor: pointer;
 	 text-decoration: none;
 	  transition: linear 0.3s;
 	 @media(max-width: $medium){
 	 	font-size: 14px;
 	    padding: 10px 0px;
 	    line-height: 18px;
 	 }
 	 @media(max-width: $tablet-rotate){
 	 	font-size: 12px;
 	    padding: 10px 0px;
 	    line-height: 16px;
 	 }
 	 span{
 	    display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
 	 	border-radius: 50%;
 	 	border:2px solid $link-color;
 	 	margin-right: 40px; 
 	 	transition: linear 0.3s;
 	 	@media(max-width: $medium){
 	 		width: 24px;
            height: 24px;
            margin-right: 10px;
 	 	}
 	 	@media(max-width: $tablet-rotate){
 	 		width: 20px;
            height: 20px;
            margin-right: 10px;
 	 	}
 	 }
 	 &:hover{
 	 	 text-decoration: none;
 	 	 color: $sec-color;
 	 	  span{
 	 	  	border:2px solid $sec-color;
 	 	  }
 	 }
 }

 .weather-img{
 	position: relative;

 }
 .weather-block{
 	position: absolute;
 	display: table;
 	top: 0px;
 	left: 0px; 
 	background: #e8f6f7;
 	height: 322px;
 	width: 292px; 
 	margin-left: 50px;
 	@media(max-width: $medium){
 		height: 240px;
	 	width: 210px; 
	 	margin-left: 20px;
 	}
 	@media(max-width: $on-laptop){
 		height: 322px;
	 	width: 292px; 
	 	margin-left: 20px;
 	}
 	@media(max-width: $tablet){
 		height: 260px;
	 	width: 250px; 
	 	margin-left: 0px;
 	}
 	@media(max-width: $phone-max){
 		height: 150px;
	 	width: 180px; 
	 	margin-left: 0px;
 	}
 	@media(max-width: $low-mobile){
 		height: 150px;
	 	width: 160px; 
	 	margin-left: 0px;
 	}
 	@media(max-width: $low-point){
				height: 112px;
			 	width: 130px; 
			 	margin-left: 0px;
			}
 	.rotate-weather{
 	    display: table-cell;
        vertical-align: middle; 
	    top: 0px;

	 }
	 p{
	    	/* Safari */
			-webkit-transform: rotate(-90deg);

			/* Firefox */
			-moz-transform: rotate(-90deg);

			/* IE */
			-ms-transform: rotate(-90deg);

			/* Opera */
			-o-transform: rotate(-90deg);

			/* Internet Explorer */
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			position: relative;
			top: 113px;
			font-size: 37px;
			 font-family: gotham-bold;
			 color: #a6b1bd;
			 @media(max-width: $medium){
			 	top: 83px;
				font-size: 27px;
			}
			@media(max-width: $on-laptop){
				top: 113px;
			    font-size: 37px;
			}
			@media(max-width: $tablet){
				top: 90px;
				font-size: 27px;
			}
			@media(max-width: $phone-max){
				top: 50px;
				font-size: 16px;
			}
			@media(max-width: $low-mobile){
				top: 21px;
				font-size: 16px;
			}

	  }
 }
 
 .title{
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 15px;
    text-align: center;
    font-family: gotham-ultra;
    color: #dbbf97;
    margin-top: auto;
    text-transform: uppercase;

    }
    .sub-title{
    	font-size: 15px;
    	text-align: center;
    	color: #dbbf97;
        margin-bottom: 5px;
    }
    .title-error{
    	font-size: 32px;
    line-height: 38px;
    font-family: Americana-Bold;
        color: #32333c;
        text-align: center;
        padding-bottom: 10px;
        padding-right: 0px;

    }
    .text-error{
    	text-align: center;
    	font-family: gotham-light;

    }
    .site{
        text-align: center;
        font-family: gotham-light;
        text-transform: uppercase;
        line-height: 30px;


    }
