.bg-rooms{
	 background-image: url('/images/bg-rooms-left.jpg');
	 background-repeat: repeat-y;
}
.padd-fixedtop{ 
	padding-top: 140px;
	@media(max-width: $larger){
		padding-top: 120px;
	}
	@media(max-width: $medium){
		padding-top: 100px;
	}
	@media(max-width: $on-laptop){
		padding-top: 70px;
	}
	@media(max-width: $tablet){
		padding-top: 40px;
	}

}
.top-15{
	    padding-top: 15px !important;
	    @media(max-width: $larger){
		   padding-top: 55px !important;
		}
		@media(max-width: $medium){
			 padding-top: 15px !important;

		}
		@media(max-width: $on-laptop){
			 padding-top: 15px !important;
		}
		@media(max-width: $tablet){
			 padding-top: 15px !important;
		}
}
.inner-pages{
	min-height: auto;
}
.banner-top{
	 position: relative;
	 @media(max-width: $phone-max){
               margin-left: 7%;
	 	 	 }
     img{ width: 100%; }
	  

	 	 h2{
	 	 	 position: absolute;
	 	 	 top: 38%;
	 	 	  text-align: center;
	 	 	  width: 100%;
	 	 	  margin: 0 auto;
	 	 	  font-family: Americana-ExtraBold;
	 	 	  font-size: 119px;
	 	 	  letter-spacing: 0em;
	 	 	  @media(max-width: $tablet){
              	font-size: 50px;
              }
              @media(max-width: $phone-max){
              	font-size: 30px;
              }

	 	 }
	 	 .white{
	 	 	 color: $white;
	 	    text-shadow: 2px 0px 5px #CCC;
	 	 }
	 	 .booking-hour{
	 	 	 position: absolute;
	 	 	 bottom: -28px;
	 	 	 height: 50px;
	 	 	 left: 50%;
	 	 	 background: $link-color;
	 	 	 color: $white;
	 	 	 font-family: gotham-bold;
	 	 	 font-size: 20px;  
	 	 	 @media(max-width: $medium){
               font-size: 12px;  
	 	 	 }
	 	 	 @media(max-width: $on-laptop){
               font-size: 11px;  
               left: 20%;
	 	 	 }
	 	 	 @media(max-width: $phone-max){
               font-size: 11px;  
               left: 0%;
               letter-spacing: 0.06em;
               height: auto;
	 	 	 }
             span.detail{
             	    padding: 0px 20px;
				    line-height: 53px;
				    float: left;
				    letter-spacing: 0.2em;
				    @media(max-width: $phone-max){
				    	line-height: 36px;
				    	padding: 0px 15px;
				    	letter-spacing: 0.02em;
				    }
             }
	 	 	 span.gold{
	 	 	 	 background: url('/images/btn-goldenbg.jpg') center center no-repeat;
	 	 	 	 padding: 10px 20px;
	 	 	 	 font-family: Americana-ExtraBold;
	 	 	 	 float: left;
	 	 	 	 font-size: 30px;
	 	 	 	 line-height: 30px;
	 	 	 	 border-right: 2px solid $white;
	 	 	 	 @media(max-width: $medium){
		               font-size: 16px;  
			 	 	 }
			 	 	 @media(max-width: $phone-max){
				    	line-height: 36px;
				    	padding: 0px 15px;
				    	letter-spacing: 0.02em;
				    }

	 	 	 }
	 	 }
	 
}
.top-40{
	margin-top: 40px;
}
.devider-inner{
	width: 100%;
	 
	 height: 50px;
	 position: relative;


	 .d-title{
          background: $white;
          height: 50px;
          line-height: 50px;
          text-align: center;
          width: 386px;
          font-family: gotham-medium;
          font-size: 15px;
          display: block;
          letter-spacing: 0.2em;
          @media(max-width: $phone-max){
          	width: 60%;
          	letter-spacing: 0.1em;
          	font-size: 13px;
          }
	 }
}

.top-right-bg{
	padding-top: 30px;
	margin-top: 60px;

	 
}
.blue-texture{
	     background: url('/images/blue-texture.jpg') center left no-repeat;
	 	 padding-left: 60px;
	 	 margin-left:  50px;
	 	 @media(max-width: $medium){
	 	 	margin-left:  20px;
	 	 }
	 	 img{
	 	 	 padding-top: 20px 0px;
	 	 }
}
.tiles{
	 	 background: url('/images/rooms/bg-1.jpg') top right no-repeat;
	 	 padding-right: 30px;
	 }
.bottom-right-bg{ 
	padding-bottom: 60px;
	text-align: right;
	 
}
.bottom-right-bg2{ 
	margin-bottom: 60px;
	text-align: right;
	 
}
.tiles2{
	 	 background: url('/images/rooms/bg-2.jpg') top right no-repeat;
	 	 padding-top: 50px;  
	 }
.wood{
	 	 background: url('/images/rooms/wood.jpg') bottom right no-repeat; 
	 	 @media(max-width: $phone-max){
	 	 	 margin-bottom: 40px;
	 	 }
	 }
.gold_gotham{
	font-family: gotham-bold;
	color: $sec-color;
	letter-spacing: 0.2em;
	font-size: 20px;
}
.light_grey{
	color: $light-grey;
	.price{
		  font-family: Americana-ExtraBold;
	}
}
.btn-booknow{ 
	padding: 18px 35px;
	color: $white !important;
	background: url('/images/btn-goldenbg.jpg') center center no-repeat;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Americana-ExtraBold;
	font-size: 24px;
	letter-spacing: 0.2em; 
	text-align: center;
	margin-right: 40px;
	@media(max-width: $large){
	 		font-size: 20px;
	 		padding: 10px 20px; 
	 	}
	 	 @media(max-width: $medium){
	 	 	padding: 16px; 
	 	 	padding: 10px 20px;
	 	 	letter-spacing: 0.1em; 
	 	 }
	 	 @media(max-width: $phone-max){
	 	 	padding: 16px; 
	 	 	padding: 10px 20px;
	 	 	display: block;
	 	 	margin-bottom: 10px;
	 	 	width: 100%;
	 	 	letter-spacing: 0.1em; 
	 	 }
	 
}