// About Page Elements
// ==========================================================================

.hotel-intro {
  @include fixed-width-layout;
  max-width: 1250px;
  margin-top: 18px;
  margin-bottom: 40px;

  @include media-breakpoint-up(md) {
    margin-top: 44px;
    margin-bottom: 80px;
  }

  &__inner {
    @include make-row();
  }

  &__text {
    @include make-col-ready;
    margin-bottom: 30px;
    padding: 0 30px;
    text-align: center;

    @include media-breakpoint-up(md) {
      @include make-col(7.5);
      margin-bottom: 0;
      padding-right: 30px;
      padding-left: 15px;
      text-align: left;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 102px;
    }

    h2 {
      position: relative;
      margin: 0 0 20px;
      padding-bottom: 10px;
      color: $dark-blue-color;

      @include media-breakpoint-up(md) {
        margin: 0 0 40px;
        padding-bottom: 40px;
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 80px;
        height: 2px;
        content: '';
        background-color: $gold-color;
        transform: translateX(-50%);

        @include media-breakpoint-up(md) {
          left: 0;
          width: 80px;
          height: 2px;
          transform: translateX(0);
        }
      }
    }
    p {
      &:nth-child(3) {
        margin-bottom: 26px;

        @include media-breakpoint-up(md) {
          margin-bottom: 50px;
        }
      }
    }
  }

  &__images {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(4.5);
    }

    figure {
      margin-right: 28px;
      padding: 36px 0 0 40px;
      background: url('/assets/images/hotel/intro-2.jpg') no-repeat;
      @include media-breakpoint-up(md) {
        margin-right: 103px;
        padding: 33px 50px 33px 53px;
      }
      @include media-breakpoint-up(lg) {
        margin-right: 103px;
        padding: 43px;
      }
      img {
        width: calc(100% + 23px);
        object-fit: cover;
        @include media-breakpoint-up(md) {
          width: calc(100% + 153px);
          margin-right: -133px;
        }
        @include media-breakpoint-up(lg) {
          width: calc(100% + 116px);
          margin-right: -103px;
        }
      }
    }
  }
}

.guest-changes {
  position: relative;
  margin-bottom: 30px;
  padding: 50px 0 15px;
  background-image: url('/assets/images/hotel/attraction-bg.jpg');
  @include bg-cover;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  }

  &__inner {
    @include fixed-width-layout;
    max-width: 1100px;

    h3 {
      position: relative;
      z-index: 1;
      margin: 0 0 22px;
      font-size: $type-size-9;
      color: $white;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: $type-size-6;
      }
    }

    ul {
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 0;

      li {
        position: relative;

        display: block;
        margin-bottom: 34px;

        @include media-breakpoint-up(md) {
          display: inline-block;
          width: 49%;
        }
        @include media-breakpoint-up(lg) {
          width: 33%;
        }

        .holder {
          position: relative;
          display: inline-block;
          width: 46px;
          height: 36px;
          text-align: center;

          @include media-breakpoint-up(md) {
            width: 76px;
            height: 44px;
          }

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            transform: translate(-50%, -50%);

            @include media-breakpoint-up(md) {
              width: auto;
            }
          }
        }
        span {
          position: absolute;
          top: 50%;
          font-size: $type-size-12;
          color: $white;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.luxuxy-amenities {
  h4 {
    margin: 0 0 20px;
    font-size: $type-size-10;
    color: $dark-blue-color;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin: 0 0 50px;
      font-size: $type-size-6;
    }
  }
  &__block {
    @include make-row();
    margin: 0 0 24px;

    &__image {
      @include make-col-ready;
      display: inherit;
      margin-bottom: 20px;
      order: 1;

      @include media-breakpoint-up(md) {
        @include make-col(6.2);
        margin-bottom: 0;
        order: 2;
      }

      div {
        display: inherit;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      @include make-col-ready;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      order: 2;

      @include media-breakpoint-up(md) {
        @include make-col(5.8);
        order: 1;
      }
      &__holder {
        padding: 0 30px;
        text-align: center;

        @include media-breakpoint-up(md) {
          text-align: left;
        }

        @include media-breakpoint-up(xl) {
          padding: 0 80px 0 120px;
        }

        h2 {
          margin: 0 0 10px;
          color: $dark-blue-color;

          @include media-breakpoint-up(md) {
            margin: 0 0 40px;
          }
        }

        p {
          margin-bottom: 0;

          @include media-breakpoint-up(md) {
            max-width: 460px;
          }
        }
      }
    }
    &:nth-child(odd) {
      .luxuxy-amenities__block__image {
        order: 1;
      }

      .luxuxy-amenities__block__content {
        order: 2;
      }
    }
  }
}

.virtual-tour {
  position: relative;
  height: 436px;
  margin-bottom: 28px;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0,0,0,.3);
  }

  img {
    position: absolute;
    display: inherit;
    width: 100%;
    height: inherit;
    overflow: hidden;
    object-fit: cover;
  }

  &__content {
    position: relative;
    z-index: 9;
    width: 70%;
    margin: 0 auto;
    text-align: center;

    h3 {
      margin: 0 0 60px;
      color: $white;
    }
  }
}

.hotel-location {
  &__block {
    @include make-row();
    margin: 0 0 24px;
  }

  &__map {
    @include make-col-ready;
    display: inherit;
    height: 300px;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      @include make-col(6.2);
      height: 462px;
      margin-bottom: 0;
    }

    div {
      display: inherit;
      width: 100%;
    }
  }
  &__content {
    @include make-col-ready;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-up(md) {
      @include make-col(5.8);
    }

    &__holder {
      padding: 0 30px;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 80px 0 120px;
      }

      h3 {
        margin: 0 0 20px;
        color: $dark-blue-color;

        @include media-breakpoint-up(md) {
          margin: 0 0 40px;
        }
      }

      p {
        @include media-breakpoint-up(md) {
          max-width: 460px;
          margin: 0;
        }
      }
    }
  }
}
