// Dining Page Elements
// ==========================================================================

.dine {
  @include fixed-width-layout;
  max-width: 1250px;
  margin-top: 18px;
  margin-bottom: 40px;

  @include media-breakpoint-up(md) {
    margin-top: 53px;
    margin-bottom: 58px;
  }

  &__inner {
    @include make-row();
  }

  &__text {
    @include make-col-ready;
    margin-bottom: 30px;
    text-align: center;

    @include media-breakpoint-up(md) {
      @include make-col(7.5);
      margin-bottom: 0;
      padding-right: 30px;
      text-align: left;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 162px;
    }

    h2 {
      position: relative;
      margin: 0 0 20px;
      padding-bottom: 10px;
      color: $dark-blue-color;
      @include media-breakpoint-up(md) {
        margin: 0 0 40px;
        padding-bottom: 40px;
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 80px;
        height: 2px;
        content: '';
        background-color: $gold-color;
        transform: translateX(-50%);

        @include media-breakpoint-up(md) {
          left: 0;
          width: 80px;
          height: 2px;
          transform: translateX(0);
        }
      }
    }
  }

  &__image {
    @include make-col-ready;
    position: relative;
    margin-bottom: 45px;
    padding: 0 35px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      background-color: $white;
      opacity: .5;
    }
    @include media-breakpoint-up(md) {
      @include make-col(4.5);
      padding: 0;
    }
    &__floral-bg {
      width: 90%;
      min-height: 226px;
      @include media-breakpoint-up(md) {
        max-width: 421px;
        min-height: 326px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__inner-image {
      position: absolute;
      top: 26px;
      left: 60px;
      width: 70%;
      min-height: 273px;
      @include media-breakpoint-down(sm) {
        width: 80%;
      }
      @include media-breakpoint-up(md) {
        left: 40px;
        width: 84%;
      }
      @include media-breakpoint-up(lg) {
        left: 40px;
        width: auto;
        max-width: 431px;
      }
      img {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 100%;
      }
      .button {
        display: block;
      }
    }
  }

}

// details page
.dine-details {

  @include fixed-width-layout;
  max-width: 1250px;
  margin-top: 18px;
  margin-bottom: 40px;

  @include media-breakpoint-up(md) {
    margin-top: 53px;
    margin-bottom: 58px;
  }

  &__inner {
    @include make-row();
  }

  &__text {
    @include make-col-ready;
    text-align: center;
    @include media-breakpoint-up(md) {
      @include make-col(7);
      text-align: left;
    }
    article {
      max-width: 582px;
      h2 {
        position: relative;
        margin: 0 0 20px;
        padding-bottom: 10px;
        color: $dark-blue-color;

        @include media-breakpoint-up(md) {
          margin: 0 0 40px;
          padding-bottom: 40px;
        }

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 80px;
          height: 2px;
          content: '';
          background-color: $gold-color;
          transform: translateX(-50%);

          @include media-breakpoint-up(md) {
            left: 0;
            width: 80px;
            height: 2px;
            transform: translateX(0);
          }
        }
      }
    }
  }
  &__contact {
    @include make-col-ready;
    display: none;
    margin-top: 80px;
    text-align: center;
    @include media-breakpoint-up(md) {
      @include make-col(4);
      display: block;
      text-align: center;
    }
    p {
      a {
        font-weight: bold;
        color: $gold-color;
      }
    }
    .button {
      margin-bottom: 57px;
    }
  }
}



.cta {
  position: relative;
  height: 436px;
  margin-bottom: 28px;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0,0,0,.3);
  }

  img {
    position: absolute;
    display: inherit;
    width: 100%;
    height: inherit;
    overflow: hidden;
    object-fit: cover;
  }

  &__content {
    position: relative;
    z-index: 9;
    width: 70%;
    margin: 0 auto;
    text-align: center;

    h3 {
      margin: 0 0 60px;
      color: $white;
    }

    .button {
      display: inherit;
      margin-bottom: 11px;
      @include media-breakpoint-up(sm) {
        display: inline-block;
        margin: 11px 6px;
      }
    }
  }
}
