// Gallery Page Elements
// ==========================================================================

.filter-nav {
  @include fixed-width-layout;
  margin-top: 55px;
  padding: 0;

  &.bg-cover {
    @include bg-cover;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: $white;

    li {
      position: relative;
      display: inline-block;
      margin-bottom: 0;

      &:after {
        @include absolute-position(7px,0,7px,auto,2px,auto);
        background-color: $dark-blue-color;
      }

      &:last-child {
        &:after {
          content: normal;
        }
      }

      a {
        display: block;
        padding-right: 15px;
        padding-left: 15px;
        font-size: $type-size-11;
        font-weight: 700;
        line-height: 50px;
        color: $dark-blue-color;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: $global-transition;
        @include media-breakpoint-up(xl) {
          font-size: $type-size-8;
          line-height: normal;
          letter-spacing: 8.87px;
        }

        &:hover {
          color: $gold-color;
          text-decoration: none;
        }

        &.active {
          font-weight: 900;
          color: $gold-color;
        }
      }
    }
  }
}

.gallery-carousel {
  @include fixed-width-layout;
  margin-top: 55px;
  padding-right: 0;
  padding-left: 0;

  .carousel {
    padding-right: 70px;
    padding-left: 70px;
  }

  .carousel-item {
    img {
      width: 100%;
    }

    .caption {
      @include absolute-position(auto,0,0,0,auto,auto);
      padding-top: 20px;
      font-size: $type-size-12;
      font-weight: 700;
      color: $gold-color;
      text-transform: uppercase;
      letter-spacing: 4px;
      background-color: $white;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 70px;
    background-color: $white;
    opacity: 1;
  }

  .carousel-control-prev {
    justify-content: flex-start;
  }

  .carousel-control-next {
    justify-content: flex-end;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 24px;
    height: 44px;
  }

  .carousel-control-prev-icon {
    background-image: url('/assets/images/arrow-left.png');
  }

  .carousel-control-next-icon {
    background-image: url('/assets/images/arrow-right.png');
  }
}

.gallery {
  @include fixed-width-layout;
  margin-top: 40px;

  &__row {
    @include make-row;
  }

  &__item {
    @include make-col-ready;
    margin-bottom: 15px;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      @include make-col(4);
      margin-bottom: 30px;
    }

    &:after {
      @include absolute-position(0,0,0,0,auto,auto);
      margin-right: 15px;
      margin-left: 15px;
      background-color: rgba($light-gold, .88);
      background-image: url('/assets/images/gallery/zoom.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 55px 55px;
      opacity: 0;
      transition: $global-transition;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      @include media-breakpoint-up(md) {
        height: 315px;
      }
    }
  }
}

.mobile-filter {
  max-width: 195px;
  margin: 0 auto;
  padding: 30px 0 0;
  text-align: center;
  p {
    font-size: $type-size-12;
    color: $dark-blue-color;
  }

  .filter-select {
    width: 100%;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: $type-size-15;
    background-color: $white;
    border: solid 1px $dark-gray;
  }
}
