.luxury-intro {
  @include fixed-width-layout;
  padding: 35px;
  @include media-breakpoint-up(lg) {
    padding: 50px 15px;
  }

  &__wrap {
    @include make-row();
  }

  &__photo {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }

    figure {
      margin-right: 53px;
      padding: 13px;
      background: url('/assets/images/home/pattern-hotel.jpg') no-repeat;
      @include media-breakpoint-up(md) {
        margin-right: 103px;
        padding: 33px 50px 33px 53px;
      }
      @include media-breakpoint-up(lg) {
        margin-right: 103px;
        padding: 43px;
      }
      img {
        width: calc(100% + 63px);
        object-fit: cover;
        @include media-breakpoint-up(md) {
          width: calc(100% + 153px);
          margin-right: -133px;
        }
        @include media-breakpoint-up(lg) {
          width: calc(100% + 146px);
          margin-right: -103px;
        }
      }
    }
  }

  &__detail {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
    article {
      padding: 0;
      text-align: center;
      @include media-breakpoint-up(lg) {
        padding: 0 35px;
        text-align: left;
      }
      hr {
        width: 35px;
        height: 2px;
        background-color: $gold-color;
        @include media-breakpoint-up(lg) {
          display: inline-block;
          width: 74px;
          height: 3px;
          margin-bottom: 2rem;
        }
      }

      h2 {
        margin-top: 0;
      }

      p {
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
        @include media-breakpoint-up(lg) {
          margin-left: 0;
        }
      }

      .button {
        margin-top: 1rem;
      }
    }
  }
}

.home-stay {
  @include make-container();

  &__wrap {
    @include make-row();
  }
  &__title {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(3);
      margin-top: 18px;
      font-size: $type-size-1;
      letter-spacing: rem-calc(20);
    }
    font-size: $type-size-5;
    font-weight: 900;
    color: $gold-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: rem-calc(10);
  }
  &__categories {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(9);
    }
    margin-bottom: 18px;
    padding: 10px 0;
    background: url('/assets/images/bg-texture-categories.jpg') repeat-x;
    @include bg-cover;
    @include media-breakpoint-up(md) {
      margin-top: 28px;
      margin-bottom: 28px;
      padding: 20px 0;
    }

    .nav-tabs {
      padding: 4px;
      border-bottom: 0;
      @include media-breakpoint-up(md) {
        background-color: $white;
      }
    }

    .nav-item {
      margin: 0;
      padding: 0  20px;
      font-size: $type-size-16;
      font-weight: 900;
      line-height: rem-calc(14);
      color: $white;
      text-transform: uppercase;
      letter-spacing: rem-calc(2);
      border: 0;
      border-right: 2px solid $white;
      border-radius: 0;
      @include media-breakpoint-up(md) {
        font-size: $type-size-8;
        font-weight: 800;
        line-height: rem-calc(32);
        color: $dark-blue-color;
        letter-spacing: rem-calc(8);
        border-right: 2px solid $dark-blue-color;
      }

      &:last-child {
        border-right: 0;
      }
      &.active,
      &:hover {
        color: $gold-color;
        background: none;
        border-color: $white;
        @include media-breakpoint-up(md) {
          border-color: $dark-blue-color;
        }
      }
    }
  }

  .tab-content {
    margin: 0 -15px;
  }

  &__rooms {
    @include make-container();

    &__wrap {
      @include make-row();
      margin-bottom: 26px;

      &--even {
        @include media-breakpoint-up(lg) {
          .home-stay__room-image {
            order: 2;
          }
          .home-stay__room-detail {
            order: 1;
          }
        }
      }
    }

  }

  &__room-image {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(7);
    }
    padding: 0;
    order: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__room-detail {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(5);
    }
    order: 2;

    article {
      margin: 0 auto;
      padding: 0 15px;
      text-align: center;
      @include media-breakpoint-up(lg) {
        max-width: 500px;
        padding: 0 30px;
        text-align: left;
      }
    }

    h4 {
      margin-bottom: 1.4rem;
      font-size: $type-size-14;
      letter-spacing: rem-calc(1.8);
      @include media-breakpoint-up(md) {
        font-size: $type-size-11;
        letter-spacing: rem-calc(2.8);
      }
      span {
        margin-right: 12px;
        padding: 4px 12px 4px 0;
        font-family: $text-font;
        font-weight: 700;
        color: $gold-color;
        text-transform: uppercase;
        border-right: 1px solid $gold-color;
        @include media-breakpoint-up(md) {
          margin-right: 32px;
          padding: 4px 32px 4px 0;
          font-size: $type-size-14;
          border-right: 3px solid $gold-color;
        }
      }
    }

    h2 {
      color: $dark-blue-color;
      @include media-breakpoint-up(md) {
        font-size: $type-size-4;
        letter-spacing: rem-calc(4);
      }
    }

    .button-holder {
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
      border-top: 3px solid $gold-color;
    }
  }
}

.dine-intro {
  @include make-container();

  &__wrap {
    @include make-row();
    &--even {
      @include media-breakpoint-up(md) {
        .dine-intro__image {
          order: 2;
        }
        .dine-intro__detail {
          order: 1;
        }
      }
    }
  }
  &__title {
    @include make-col-ready();
    @include make-col(6);
    @include media-breakpoint-up(lg) {
      @include make-col(3);
      font-size: $type-size-1;
      letter-spacing: rem-calc(20);
    }
    margin-top: 18px;
    font-size: $type-size-5;
    font-weight: 900;
    color: $gold-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: rem-calc(8);
  }
  &__categories {
    @include make-col-ready();
    @include make-col(6);
    @include media-breakpoint-up(lg) {
      @include make-col(9);
      min-height: 81px;
    }
    min-height: 32px;
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 20px 0;
    background: url('/assets/images/bg-texture-categories.jpg') repeat-x;
    @include bg-cover;
  }

  &__image {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    padding: 0;
    order: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__detail {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    text-align: center;
    background-color: $light-gray;
    order: 2;

    article {
      max-width: 500px;
      margin: 0 auto;

      h5 {
        font-family: $heading-font;
        font-size: $type-size-10;
        @include media-breakpoint-up(md) {
          font-size: $type-size-6;
        }
      }

      hr {
        width: 35px;
        height: 2px;
        background-color: $gold-color;
        @include media-breakpoint-up(lg) {
          display: inline-block;
          width: 74px;
          height: 3px;
          margin-bottom: 2rem;
        }
      }

    }
  }

}
