// Shared Page Elements
// ==========================================================================

.hero-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: $black;
  @include bg-cover;
  @include flex-center-col;
  animation: opacityFade 1.5s ease-in;

  &--inner {
    max-height: 600px;
  }

  &__detail {
    max-width: 240px;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      max-width: 600px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 800px;
    }

    h1 {
      color: $white;
      text-shadow: $global-text-shadow;
    }

    .button {
      margin-top: 2rem;
    }
  }
}

.offers-slider {
  position: relative;
  padding-bottom: 60px;
  text-align: center;
  background: $dark-blue-color url('/assets/images/floral-bg.jpg');

  &.included-offer {
    display: none;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba($dark-blue-color,.8);
  }

  &__wrap {
    position: relative;
    display: block;
    @include fixed-width-layout;
    padding: 0 25px;
    @include media-breakpoint-up(md) {
      padding: 0 122px;
    }

    h3 {
      margin: 0;
      padding: 35px 15px;
      color: $white;

      a {
        color: $white;
      }
    }

    .slick-slide {
      margin: 0 12px 50px;
      background-color: $white;

      figure {
        width: 100%;
        height: 198px;
        overflow: hidden;
        @include media-breakpoint-up(md) {
          height: 200px;
        }
        @include media-breakpoint-up(lg) {
          height: 228px;
        }
        @include media-breakpoint-up(xl) {
          height: 258px;
        }

        img {
          width: 100%;
          height: 100%;
          transition: $global-transition;
          object-fit: cover;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .slick-arrow {
      position: relative;
      font-size: 0;
      cursor: pointer;
      background: none;
      border: 0;

      &:before {
        display: block;
        width: 16px;
        height: 16px;
        content: '';
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
        transform: rotate(135deg);
        @include media-breakpoint-up(md) {
          width: 22px;
          height: 22px;
          border-right: 2px solid $white;
          border-bottom: 2px solid $white;
        }
      }

      &.slick-next {
        position: absolute;
        top: 40%;
        right: -15px;
        left: auto;
        @include media-breakpoint-up(md) {
          right: -30px;
        }

        &:before {
          transform: rotate(-45deg);
        }
      }

      &.slick-prev {
        position: absolute;
        top: 40%;
        right: auto;
        left: -15px;
        @include media-breakpoint-up(md) {
          left: -30px;
        }
      }
    }
  }

  &__detail {
    position: relative;
    padding: 0 10px 30px;
    text-align: center;
    @include media-breakpoint-up(md) {
      padding: 0 20px 30px;
    }

    h4 {
      @include media-breakpoint-up(md) {
        margin-top: 18px;
        font-size: $type-size-10;
      }
    }

    .button {
      position: absolute;
      right: 0;
      bottom: -26px;
      left: 0;
      display: inline-block;
      max-width: 192px;
      margin: 0 auto;
      padding: 16px 22px;
    }
  }
  &.attractions-slider {
    height: 0;
    padding-bottom: 0;
    overflow: hidden;
    &.active {
      height: auto;
      padding-bottom: 60px;
    }
  }
}

.instagram-gallery {
  @include make-container();
  background-color: $white;
  &__wrap {
    @include make-row();
  }

  &__title {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(3);
      font-size: $type-size-7;
    }
    margin-top: 18px;
    font-size: $type-size-12;
    font-weight: 900;
    color: $dark-blue-color;
    text-align: center;

    .svg-inline--fa {
      color: $gold-color;
    }
  }

  &__image-bg {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(9);
      min-height: 81px;
    }
    min-height: 32px;
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 20px 0;
    background: url("/assets/images/floral_image-instagram.jpg") repeat-x;
    @include bg-cover;
  }

  &__photo {
    position: relative;
    @include make-col-ready();
    @include make-col(6);
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(2);
    }
    padding: 0;
    overflow: hidden;
    background-color: $gold-color;

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include bg-cover;
      transition: $global-transition;
      transform: scale(1.02);
      @include flex-center-col;

      .svg-inline--fa {
        z-index: 1;
        font-size: $type-size-10;
        color: $white;
        opacity: 0;
        transition: $global-transition;
      }

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba($gold-color,0);
        transition: $global-transition;
      }

      &:hover {
        transform: scale(1.05);
        .svg-inline--fa {
          opacity: 1;
        }
        &:before {
          background-color: rgba($gold-color,1);
        }
      }
    }

    img {
      width: 100%;
    }
  }
}
.cta-banner {
  position: relative;
  height: 436px;
  @include bg-cover;
  @include flex-center-col;

  &--overlay {
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: rgba($dark-blue-color,.3);
    }
  }

  &__content {
    @include fixed-width-layout;
    z-index: 9;
    h3 {
      margin: 0 0 60px;
      color: $dark-blue-color;
    }
    &--text-center {
      text-align: center;
      h3 {
        margin: 0 0 60px;
        color: $white;
      }
    }

  }
}
