---
layout: default
title: Celino Hotel South Beach - Classic King

bg: bg-rooms
---
 
 <div class="padd-fixedtop"></div> 
 

<div data-room-id="cking"  rt3-rooms-browser="browser" rt3-room-details="details"  ng-cloak>
<section class="padd-fixedtopinner">
    <div class="container no-padding">
     
       <div class="col-md-6">
	          <div class="content-left2 inner">
	            <h2>[[details.name]]</h2>
	            <h3 class="gold_gotham">TONIGHT’S RATE</h3>
	            <h4 class="right-pd light_grey" rt3-code="[[room.code]]">  checking...</h4>
	            <p class="right-pd">
	            [[details.description]]
	            </p>
	            <p class="text-right">
	            <a href="#" class="btn-booknow hvr-fade">BOOK NOW</a> 
	            </p>
	           </div>
       </div>

         <div class="col-md-6 no-padding">
          <div class="bottom-right-bg2 tiles2 pull-right">
           <img ng-src="[[details.photos[0].large]]" class="img-responsive">
         </div>
       </div>
    </div>

</section>
 

 <section>
    <div class="container">
        <div ng-if="details.photos.length == 1" class="content-room"><img  ng-src="[[details.photos[0].large]]" class="img-reponsive full" alt="hero image [[details.name]]">
        </div>
    	<div ng-if="details.photos.length > 1" id="roomslide" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li ng-repeat="gallery in details.photos"  data-target="#roomslide" data-slide-to="$index" ng-class="{active:!$index}"></li> 
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div ng-class="{active:!$index}" ng-repeat="gallery in details.photos" class="item">
				      <img ng-src="[[gallery.large]]" alt="gallery [[details.name]]"> 
				    </div>

				     
				  </div>

				  <!-- Left and right controls -->
				  <a class="left carousel-control" href="#roomslide" role="button" data-slide="prev">
				     <span class="left-arrow"><img src="/images/arrow-gold-left.png"></span>
				  </a>
				  <a class="right carousel-control" href="#roomslide" role="button" data-slide="next">
				   <span class="right-arrow"> <img src="/images/arrow-gold-right.png"></span>
				  </a>
	      </div> 
    </div>
 </section>
<section>
	<div class="container">
	   <div class="content-room">
		<div class="col-sm-7">
			<h4>Views</h4>
			<p>Looking North and South with view of neighboring building or courtyard.</p>
			<h4>Ammenities</h4>
			<p>Fully Stocked Minibar, XXX Coffee Maker, 50” Flat Screen HDTV, Bluetooth. Fully Stocked Minibar, XXX Coffee Maker, 50” Flat Screen HDTV, Bluetooth XXX Linens, Custom Hemp-Blend Mattress by Keetsa.</p>
		</div>
		<div class="col-sm-5">
			<ul class="amentities">
			<li>2 PEOPLE ROOM</li>
			<li>30 ROOMS LIKE THIS ONE</li>
			<li>00 CONNECTING ROOMS</li>
			<li>225 - 275 SQ FT</li>
			</ul>
			<p class="text-left">
	            <a href="#" class="btn-booknow hvr-fade">BOOK NOW</a> 
	       </p>
		</div>	
	  </div>
	</div>

</section>
</div>
{% include owl-rooms.html%}
  