---
layout: default
---
{% assign post = site.data._models.blog  %}
{% assign blog = page %}
{% assign seo_title = blog.seo_title %}
{% assign seo_description = blog.seo_description %}

{% for p in post %}
    {% if p.url_friendly_name == blog.url_friendly_name %}
        {% assign pInd = forloop.index0 | minus: 1 %}
        {% assign nInd = forloop.index0 | plus: 1 %}
        {% if forloop.first != true %}
            {% assign prevPostTitle = post[pInd].title %}
            {% assign prevPostUrl = post[pInd].url_friendly_name %}
        {% endif %}
        {% if forloop.last != true %}
            {% assign nextPostTitle = post[nInd].title %}
            {% assign nextPostUrl = post[nInd].url_friendly_name %}
        {% endif %}
    {% endif %}
{% endfor %}


{% assign model = page %}

<div data-resize class="hero-banner background-cover" style="background-image: url('/assets/images/home/home-hero.jpg')">
  
  <div class="banner-detail align-self-center">
    <h1>Aston Waikiki Beach Hotel Blog</h1>
    <p>Your guide to Honolulu culture, local cuisine, nightlife, outdoor activities, and shopping.</p>
  </div>
</div>

<div class="white-bar"></div>

<section class="blog blog--single">
  <div class="blog__row">
    <div class="blog__categories">
      {% include blog-categories.html %}
    </div>
    <div class="blog__list">
      <div class="blog__item">
        <h1>{{ blog.title }}</h1>
        <div class="blog__info">
          <span class="blog__date">{% assign d = blog.date | date: "%-d" %}
                  {{ blog.date | date: "%B" }}
                  {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
                  {{ blog.date | date: "%Y" }}</span>
					{% if blog.category %}
					<a href="/blog/category/{{blog.category.url_friendly_name}}/" class="blog__category">{{ blog.category.title }}</a>
					{% endif %}
        </div>

        <figure class="blog__image">
          <img src="{{ blog.blogimage.url_medium }}" alt="{{ blog.title }}">
        </figure>

        {{ blog.more_content }}

        <div class="blog__share">
          {% include social-share.html %}
        </div>

        <div class="pagenav">
                    {%if prevPostUrl %}
                    <a class="prev" href="/blog/{{prevPostUrl}}" title="Previous Blog"><i class="fa fa-angle-left" aria-hidden="true"></i> Prevous </a> |
                    {%else%}
                    <a class="prev not-active" href="/blog/{{prevPostUrl}}" title="Current Blog"><i class="fa fa-angle-left" aria-hidden="true"></i> Prevous </a> |
                    {%endif%}
                    {%if nextPostUrl %}
                    <a class="next" href="/blog/{{nextPostUrl}}" title="Next Blog">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {%else%}
                    <a class="next not-active" href="/blog/{{nextPostUrl}}" title="Next Blog">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {%endif%}
                </div>

        <div class="btn-holder">
          <a href="/blog/" class="button secondary">See all blog posts</a>
        </div>
      </div>

    </div>

  </div>
</section>
