---
layout: default
---
{% assign post = site.data._models.blog  %}
{% assign blog = page %}
{% assign seo_title = blog.seo_title %}
{% assign seo_description = blog.seo_description %}

{% for p in post %}
    {% if p.url_friendly_name == blog.url_friendly_name %}
        {% assign pInd = forloop.index0 | minus: 1 %}
        {% assign nInd = forloop.index0 | plus: 1 %}
        {% if forloop.first != true %}
            {% assign prevPostTitle = post[pInd].title %}
            {% assign prevPostUrl = post[pInd].url_friendly_name %}
        {% endif %}
        {% if forloop.last != true %}
            {% assign nextPostTitle = post[nInd].title %}
            {% assign nextPostUrl = post[nInd].url_friendly_name %}
        {% endif %}
    {% endif %}
{% endfor %}

{% assign model = page %}

<section class="hero-banner hero-banner--inner top-common-gap" style="background-image: url('/assets/images/blog/hero.jpg');">
  <div class="hero-banner__detail wow fadeIn" data-wow-delay="0.5s">
    <h1 tabindex="0">South Beach Blog</h1>
  </div>
</section>

<section class="blog blog--single">
  <div class="blog__wrap">
    <div class="blog__categories">
      {% include blog-categories.html %}
    </div>
    <div class="blog__list">
      <div class="blog__item">
        <h1 class="blog__heading">{{ blog.title }}</h1>
        <div class="blog__heading-seperator"></div>
        <div class="blog__info">
          <span class="blog__date">
            <time>{% assign d = blog.date | date: "%-d" %}
              {{ blog.date | date: "%B" }}
              {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
              {{ blog.date | date: "%Y" }}</time> </span>
          | <a href="/blog/category/{{blog.category.url_friendly_name}}/" class="blog__category">{{ blog.category.title }}</a>
        </div>
        <figure class="blog__image">
          <img src="{{ blog.blogimage.url_medium }}" alt="{{ blog.title }}">
        </figure>
        <div class="blog__full-description">
          {{ blog.more_content }}
        </div>

        <div class="blog__share">
          {% include social-share.html %}
        </div>

        <div class="row">
          <ul class="pagination col-md-6">
            <li class="page-item {% if prevPostUrl %} {% else %} disabled {% endif %}">
              <a class="page-link button button--arrow button--arrow--paginate button--arrow--paginate--left" href="/blog/{{prevPostUrl}}">Prev</a>
            </li>
            <li class="page-item {% if nextPostUrl %} {% else %} disabled {% endif %}">
              <a class="page-link button button--arrow button--arrow--paginate" href="/blog/{{nextPostUrl}}">Next</a>
            </li>
          </ul>
          <div class="btn-holder col-md-6">
            <a href="/blog/" class="button button--gold">See all blog posts</a>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

{% include cta-two-column.html %}
{% include instagram.html %}
