---
layout: default
---

<section class="page-banner">
  <div id="pageBanner" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for image in page.image %}
        <li data-target="#pageBanner" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for image in page.image %}
  			<div class="carousel-item{% if forloop.first %} active{% endif %}" role="option">
  				<img src="{{ image.url_large }}" alt="{{image.alt}}">
  			</div>
      {% endfor %}
      </div>
      <h1 tabindex="0">Dine at {{ page.title }}</h1>
  </div>
</section>

<section class="dine-details">
  <div class="dine-details__inner">
    <div class="dine-details__text">
      <article tabindex="0">
        {{page.description}}
      </article>
    </div>
    <div class="dine-details__contact">
      <a href="{{page.reserve_link}}" class="button button--arrow">RESERVE Now</a>
      <p tabindex="0">For reservations and information about ICONIK,<br> call  <a href="tel:786 574-4090" title="786 574-4090">(786) 574-4090</a> or email us <br>to <a href="mailto:dine@celino.com" title="dine@celino.com">dine@celino.com</a></p>
      <p tabindex="0">Open Daily from 7:00am – 12:00am<br>Tues-Thurs until 11pm</p>
    </div>
  </div>
</section>

<section class="cta d-flex align-items-center">
  <img src="/assets/images/dine/cta-details.jpg" alt="GET IN TOUCH">
  <div class="cta__content">
    <h3 tabindex="0">Premium food<br>from day to night</h3>
    {% for menu in page.menu_items %}
     <a href="{{menu.detail}}" class="button"> {{menu.name}} </a>
    {% endfor %}
    <!-- <a href="/contact/" class="button">Brunch MENU</a>
    <a href="/contact/" class="button">Lunch  MENU</a>
    <a href="/contact/" class="button">Dinner MENU</a> -->
  </div>
</section>

<section class="gallery d-none d-md-block" tabindex="-1">
  <h4 class="text-center">Gallery</h4>
  <div class="gallery__row"  id="lightgallery">
    {% for image in page.gallery %}
    <div class="gallery__item item fancybox" data-src="{{ image.url_large }}" data-exthumbimage="{{ image.url_large }}">
    	<img src="{{ image.url_large }}" alt="{{image.alt}}">
    </div>
    {% endfor %}

  </div>
</section>

<section class="mobile-carousel d-md-none">
  <div id="dine-gallery" class="carousel slide" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner" role="listbox">
      {% for image in page.gallery %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}" role="option">
        <img src="{{ image.url_large }}" alt="{{image.alt}}">
      </div>
      {% endfor %}
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#dine-gallery" data-slide="prev">
      <img src="/assets/images/left-arrow.png" alt="Previous Item">
    </a>
    <a class="carousel-control-next" href="#dine-gallery" data-slide="next">
      <img src="/assets/images/right-arrow.png" alt="Next Item">
    </a>
  </div>
</section>

<section class="offers-slider">
  <div class="offers-slider__wrap">
    <h3 tabindex="0">Dine & Offers</h3>
    <div class="offers-slider__items" id="deals-offers">
      {% assign offerslist = site.data._models.dine-offers %}
      {% for offer in offerslist %}
      <div>
        <a href="#" tabindex="-1"><img src="{{ offer.dine_image.url_medium }}" alt="Thanksgiving Plan"></a>
        <div class="offers-slider__detail">
          <h4><a href="#">{{ offer.title }}</a></h4>
          <div tabindex="0">
            {{ offer.description }}
          </div>
          <a href="{{ offer.link }}" class="button">Learn More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include instagram.html %}
