---
layout: default
---

<div class="padd-fixedtop"></div>

<div data-room-id="{{page.room_code}}" rt3-rooms-browser="browser" rt3-room-details="details" ng-cloak>
  <section class="padd-fixedtopinner">
    <div class="container no-padding">
      <div class="col-md-6">
        <div class="content-left2 inner">
          <h2>Classic King</h2>
          <h3 class="gold_gotham">TONIGHT’S RATE</h3>
          <h4 class="right-pd light_grey">$479 / night</h4>
          <p class="right-pd">
            Room Description
          </p>
          <p class="text-right">
            <a ng-href="https://thecelinohotel.reztrip.com/search?selected_room_category=[[details.category]]&selected_room=[[details.code]]"
              class="btn-border hvr-border-fade">BOOK NOW</a>
          </p>
        </div>
      </div>

      <div class="col-md-6 no-padding">
        <div class="bottom-right-bg2 tiles2 pull-right">
          <img ng-src="https://d31f902anbz5po.cloudfront.net/1188/59029_1_yankee_large.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div ng-if="details.photos.length == 1" class="content-room">
        <img ng-src="[[details.photos[0].large]]" class="img-reponsive full" alt="hero image [[details.name]]">
      </div>
      <div ng-if="details.photos.length > 1" id="roomslide" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li ng-repeat="gallery in details.photos" data-target="#roomslide" data-slide-to="$index" ng-class="{active:!$index}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div ng-class="{active:!$index}" ng-repeat="gallery in details.photos" class="item">
            <img ng-src="[[gallery.large]]" alt="gallery [[details.name]]">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#roomslide" role="button" data-slide="prev">
          <span class="left-arrow"><img src="/images/arrow-gold-left.png"></span>
        </a>
        <a class="right carousel-control" href="#roomslide" role="button" data-slide="next">
          <span class="right-arrow"> <img src="/images/arrow-gold-right.png"></span>
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="content-room">
        <div class="col-sm-7">
          <h4>Views</h4>
          <p>Looking North and South with view of neighboring building or courtyard.</p>
          <h4>Ammenities</h4>
          <p>
            Ammenities listings
          </p>
        </div>
        <div class="col-sm-5">
          <ul class="amentities">
            <li>[[details.max_number_of_guests]] PERSON ROOM</li>
            <li>30 ROOMS LIKE THIS ONE</li>
            <li>00 CONNECTING ROOMS</li>
            <li>[[details.room_size]] [[details.room_size_units]]</li>
          </ul>
          <p class="text-left">
            <a ng-href="https://thecelinohotel.reztrip.com/search?selected_room_category=[[details.category]]&selected_room=[[details.code]]"
              class="btn-border hvr-border-fade">BOOK NOW</a>
          </p>
        </div>
      </div>
    </div>

  </section>
</div>

<section class="content-room padd-btm">
  <div class="container more-listings">
    <h4 class="text-center">More Rooms</h4>
    <div>
      <div class="col-sm-12 col-md-4 panel">
        <img src="https://d31f902anbz5po.cloudfront.net/1188/59029_1_yankee_large.jpg" alt="Room alt" class="img-responsive">
        <h3 class="gold_gotham">Other room 1</h3>
        <h5 class="light_grey">Tonight's Rate - $389</h5>
        <div>
          <div>
            2 Beds
          </div>
          <div>
            2 Person Room
          </div>
          <div>
            <p>Room Details</p>
          </div>
        </div>
        <a href="/" class="btn-border hvr-border-fade">View Room</a>
      </div>
      <div class="col-sm-12 col-md-4 panel">
        <img src="https://d31f902anbz5po.cloudfront.net/1188/59029_1_yankee_large.jpg" alt="Room alt" class="img-responsive">
        <h3 class="gold_gotham">Other room 2</h3>
        <h5 class="light_grey">Tonight's Rate - $389</h5>
        <div>
          <div>
            2 Beds
          </div>
          <div>
            2 Person Room
          </div>
          <div>
            <p>Room Details</p>
          </div>
        </div>
        <a href="/" class="btn-border hvr-border-fade">View Room</a>
      </div>
      <div class="col-sm-12 col-md-4 panel">
        <img src="https://d31f902anbz5po.cloudfront.net/1188/59029_1_yankee_large.jpg" alt="Room alt" class="img-responsive">
        <h3 class="gold_gotham">Other room 3</h3>
        <h5 class="light_grey">Tonight's Rate - $389</h5>
        <div>
          <div>
            2 Beds
          </div>
          <div>
            2 Person Room
          </div>
          <div>
            <p>Room Details</p>
          </div>
        </div>
        <a href="/" class="btn-border hvr-border-fade">View Room</a>
      </div>
    </div>
  </div>
  <div class="text-center margin-top">
    <a href="/rooms" class="btn btn-lg btn-link">See All</a>
  </div>
</section>

<section class="bg-lightblue">
  <div class="container no-padding">
    <div class="contact-strip-2" style="background-image:url(/images/contact/contact-strip-1.jpg)"></div>
    <div class="container mapsec">
      <div class="col-md-12">
        <div class="wrapper-rText">
          <div class="block-title">
            <h1 class="rotate">THE WAY <br>TO PARADISE</h1>
          </div>
          <div class="rightBx marg-27">
            <div class="row">
              <div class="col-md-12 margin-top">
                {% include location-map.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include newsletter.html %}