<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.newsletter-id }}/" method="post" name="form_{{ site.data.forms.jotform.newsletter-id }}"
    id="signup" class="row form-newsletter" accept-charset="utf-8">
    <p class="alert alert-success" style="display:none;"><strong>Thank You!</strong> We will get in touch with you shortly.</p>
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.newsletter-id }}">
    <div class="footer__two-fields">
      <input type="text" tabindex="0" required class="form-control" name="q5_name5" size="30" value="" id="q5_name5" placeholder=" Name *" aria-label="Name"
        title="Name">
    </div>
    <div class="footer__two-fields">
      <input tabindex="0" type="text" class="form-control" name="q4_zipCode4" size="30" value="" id="q4_zipCode4"  placeholder="Zip Code" aria-label="Zip Code" title="Zip Code">
    </div>
    <div class="footer__one-field">
      <input tabindex="0" type="email" id="input_3" name="q3_email" class="form-control" placeholder="Your Email*" aria-label="Email" required>
    </div>
    <div class="footer__one-field">
      <label for="agree">
        <input tabindex="0" type="checkbox" name="q6_iAgree[]" value="agree" id="agree" aria-label="Press Spacebar to Agree to the Terms of Service & Privacy Policy" required="required"> I agree to the
         <a href="/terms-of-service/" target="_blank">Terms of Service</a> and <a href="/privacy-policy/" target="_blank">Privacy Policy</a>.
      </label>
    </div>
    <div class="footer__one-field">
      <button class="button button--gold" type="submit" id="input_2">Sign Up</button>
    </div>
</form>
